@keyframes pwa-dialog-show {
    from {
        left: -360px
    }

    to {
        left: 24px
    }
}

@keyframes pwa-dialog-hide {
    from {
        left: 24px
    }

    to {
        left: -360px
    }
}

body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
pre,
ul {
    margin: 0;
    padding: 0
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    color: #666;
    line-height: 18px;
    z-index: -10000;
    min-width: 1043px;
    background: #f2f5f9
}

button {
    border-radius: 0
}

a {
    color: #00a6ed;
    text-decoration: none
}

a:hover {
    color: #00b6ff
}

li {
    list-style: none
}

img {
    vertical-align: middle;
    border: 0;
    color: #ccc
}

button {
    outline: 0
}

.main {
    width: 1200px;
    margin: 0 auto
}

.stars {
    background: url(/static/images/stars_fill.svg) repeat-x;
    height: 15px;
    width: 75px;
    clear: both;
    direction: ltr;
    position: relative
}

@media only screen and (max-width:1300px) {
    body {
        min-width: 1048px
    }

    .main {
        width: 1048px
    }
}

body {
    padding-top: 45px
}

.no-scrollbar-x::-webkit-scrollbar {
    display: none
}

.stars {
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url(/static/images/svg_icon.svg) no-repeat;
    background-size: 160px;
    background-position: 0 -288px
}

.stars+span {
    vertical-align: middle
}

.no-stars .stars {
    background-position-x: -16px
}

.category-apk-list-box {
    padding: 8px 0 12px;
    background-color: #fff;
    margin-bottom: 4px
}

.category-module .category-module-title {
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.category-module .category-module-title .title-text {
    padding: 4px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #3c4043;
    flex: 1
}

.category-module .category-module-title .more {
    display: flex;
    justify-content: space-between
}

.category-module .category-module-title .more::after {
    content: "";
    position: static;
    display: inline-block;
    align-self: center;
    width: 6px;
    height: 6px;
    border: 1.5px solid #8b8b8b;
    border-right: 0;
    border-bottom: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    flex-shrink: 0;
    margin-left: 8px
}

.category-apk-swiper {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #fff;
    margin-bottom: 4px
}

.category-apk-swiper .swiper-list {
    white-space: nowrap;
    overflow-x: auto;
    font-size: 0;
    line-height: 1;
    padding: 0 16px
}

.category-apk-swiper .swiper-list .swiper-item {
    background: #f8f9fa;
    display: inline-block;
    position: relative;
    width: 328px;
    overflow: hidden;
    border-radius: 8px
}

.category-apk-swiper .swiper-list .swiper-item+.swiper-item {
    margin-left: 8px
}

.category-apk-swiper .swiper-list .swiper-item .swiper-banner {
    padding-bottom: 56.75%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.category-apk-swiper .swiper-list .swiper-item .swiper-banner-bg,
.category-apk-swiper .swiper-list .swiper-item::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 33.33%
}

.category-apk-swiper .swiper-list .swiper-item::after {
    content: "";
    z-index: 3;
    background: linear-gradient(rgba(0, 0, 0, .01), rgba(0, 0, 0, .8))
}

.category-apk-swiper .swiper-list .swiper-item .swiper-banner-bg {
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 4;
    filter: blur(30px)
}

.category-apk-swiper .swiper-list .swiper-item .swiper-item-info {
    position: absolute;
    width: 100%;
    padding: 4px 12px;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    z-index: 4
}

.category-apk-swiper .swiper-list .swiper-item .swiper-item-info span {
    vertical-align: middle;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px
}

.category-apk-swiper .swiper-list .swiper-item .swiper-item-info .swiper-item-info-title {
    display: inline-block;
    width: calc(100% - 50px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.category-apk-swiper .swiper-list .swiper-item .swiper-item-info .swiper-item-button {
    padding: 5px 8px;
    background: #24cd77;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #fff
}

.category-apk-swiper.show-button .swiper-list .swiper-item .swiper-item-info .text-info {
    display: flex;
    justify-content: space-between
}

.category-apk-swiper.show-button .swiper-list .swiper-item .swiper-item-info .text-info .swiper-item-info-link {
    width: 0;
    flex-grow: 1;
    margin-bottom: 5px;
    margin-top: 2px
}

.category-apk-swiper.show-button .swiper-list .swiper-item .swiper-item-info .text-info .swiper-item-button {
    flex-grow: 0;
    align-self: baseline
}

.category-apk-swiper.show-button .swiper-list .swiper-item .swiper-item-info .swiper-item-info-title {
    width: 100%
}

.apk-grid-item {
    margin-top: 10px;
    position: relative
}

.apk-grid-item ul {
    overflow-x: auto;
    white-space: nowrap;
    font-size: 0;
    padding: 0 16px
}

.apk-grid-item .grid-col {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 2px)
}

.apk-grid-item .grid-col+.grid-col {
    margin-left: 12px
}

.apk-grid-item .grid-row {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.apk-grid-item .grid-row+.grid-row {
    margin-top: 16px
}

.apk-grid-item .grid-row img.icon {
    width: 64px;
    height: 64px;
    border: 1px solid #eff3f9;
    border-radius: 15%;
    background-color: #fff
}

.apk-grid-item .grid-row .grid-text-box {
    width: 0;
    flex: 1;
    margin: 0 12px
}

.apk-grid-item .grid-row .grid-text-box .grid-item-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #4b4b4b;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block
}

.apk-grid-item .grid-row .grid-text-box .grid-item-developer,
.apk-grid-item .grid-row .grid-text-box .grid-item-preregister {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #5e5e5e;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 4px 0;
    display: block
}

.apk-grid-item .grid-row .grid-text-box .grid-item-score {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #fa8b16;
    margin-left: -2px
}

.apk-grid-item .grid-row .apk-grid-button,
.apk-grid-item .grid-row .apk-grid-download {
    padding: 6px 8px;
    background: #24cd77;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #fff
}

.scroll-item {
    padding: 0 16px;
    font-size: 0;
    margin-top: 8px;
    overflow-x: auto;
    white-space: nowrap
}

.scroll-item li {
    width: 80px;
    display: inline-block
}

.scroll-item li+li {
    margin-left: 8px
}

.scroll-item li img {
    width: 80px;
    height: 80px;
    aspect-ratio: 1/1;
    border: 1px solid #eff3f9;
    border-radius: 15%;
    background-color: #fff
}

.scroll-item li .scroll-item-title {
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    height: 44px;
    color: #4b4b4b;
    overflow: hidden;
    white-space: break-spaces;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 4px 0
}

.scroll-item li .scroll-item-score {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #fa8b16;
    margin-left: -2px
}

.apk-banner-list {
    margin-top: 2px
}

.apk-banner-list>div {
    padding: 0 16px;
    font-size: 0;
    line-height: 0
}

.apk-banner-list .apk-banner-item {
    display: inline-block;
    width: calc(50% - 4px);
    margin-top: 8px
}

.apk-banner-list .apk-banner-item:nth-child(2n) {
    margin-left: 8px
}

.apk-banner-list .apk-banner-item .apk-banner {
    width: 100%;
    padding-bottom: 55%;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #f8f9fa;
    border: 1px solid #eff3f9
}

.apk-banner-list .apk-banner-item .banner-apk-info {
    display: flex;
    margin-top: 6px;
    align-items: center;
    justify-content: space-between
}

.apk-banner-list .apk-banner-item .banner-apk-info .apk-icon {
    width: 44px;
    height: 44px;
    border: 1px solid #eff3f9;
    border-radius: 15%;
    background-color: #f8f9fa;
    margin-right: 8px;
    display: none
}

.apk-banner-list .apk-banner-item .banner-apk-info .banner-text-info {
    width: 0;
    flex: 1
}

.apk-banner-list .apk-banner-item .banner-apk-info .banner-text-info .banner-text-title {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #5e5e5e;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.apk-banner-list .apk-banner-item .banner-apk-info .banner-text-info .banner-text-score {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #fa8b16;
    margin-left: -2px
}

.apk-banner-list .screen-btn {
    display: none
}

.apk-name-list {
    padding: 0 16px;
    font-size: 0
}

.apk-name-list>a {
    margin-top: 8px;
    display: inline-block;
    padding: 2px 0 2px 2px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 36px;
    margin-right: 4px
}

.apk-name-list>a img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    vertical-align: middle;
    line-height: 0
}

.apk-name-list>a span {
    line-height: 22px;
    font-weight: 400;
    font-size: 13px;
    color: #4b4b4b;
    vertical-align: middle;
    margin: 0 8px;
    display: inline-block;
    max-width: calc(100% - 46px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

body {
    padding-top: 45px
}

.no-scrollbar-x::-webkit-scrollbar {
    display: none
}

.game-home {
    background-color: #f2f5f9;
    margin-top: 4px
}

.game-home .title {
    padding: 10px 16px 0 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color: #fff;
    color: #3c4043
}

.game-home .title h1 {
    display: inline;
    font-weight: 500;
    font-size: 16px
}

.game-home .category-apk-swiper {
    padding-top: 10px
}