button {
    border-radius: 0
}

.shadow {
    display: none;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    padding-bottom: 60px
}

html {
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

b {
    font-weight: bolder
}

img {
    border-style: none
}

button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button {
    overflow: visible
}

button {
    text-transform: none
}

i.icon {
    display: inline-block;
    vertical-align: bottom
}

.no-scrollbar::-webkit-scrollbar {
    display: none
}

.one-line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.double-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

:root {
    --module-spacing: 4px;
    --app-horizontal-spacing: 8px;
    --app-vertical-spacing: 12px;
    --html-direction: 1;
    --html-rtl: 0;
    --html-ltr: 1
}

:root {
    --text-bold: 500
}

body,
ul {
    margin: 0;
    padding: 0
}

button {
    outline: 0
}

html {
    font-size: 62.5%
}

img {
    vertical-align: middle
}

a {
    color: inherit;
    text-decoration: none
}

a:hover {
    color: #00a6ed
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f2f5f9;
    font-size: 14px;
    line-height: 1.5;
    color: #5e5e5e
}

body {
    padding-top: 45px
}

.main-body {
    margin: auto;
    padding: 4px 0;
    max-width: 1200px
}

.main-body .module {
    margin-bottom: var(--module-spacing);
    padding-bottom: 12px;
    background-color: #fff
}

.main-body .module .title {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.main-body .module .title .name {
    margin: 0;
    flex-shrink: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4b4b4b
}

.main-body .module .title.more::after {
    content: " ";
    display: inline-block;
    align-self: center;
    width: 6px;
    height: 6px;
    border: 1px solid #8b8b8b;
    border-right: 0;
    border-bottom: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    flex-shrink: 0;
    right: 16px;
    margin-left: 12px
}

.clear {
    clear: both
}

.main-body {
    padding-top: 4px
}

.main-body .module {
    padding-bottom: 0
}

.main-body .module .title {
    padding: 10px 16px 12px 16px
}

.slide-banner {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding-top: 47.22222%
}

.slide-banner>.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.slide-banner .container {
    direction: ltr;
    height: 100%
}

.slide-banner .container .tempWrap {
    height: 100%
}

.slide-banner .container .list {
    height: 100%
}

.slide-banner .banner-item {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block !important
}

.slide-banner .banner-bg {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0
}

.slide-banner .mask {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 57.29%, rgba(0, 0, 0, .6) 92.71%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.slide-banner .info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 14px 16px;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    cursor: pointer
}

.slide-banner .icon {
    border-radius: 15%;
    width: 32px;
    height: 32px
}

.slide-banner .name {
    margin: 0 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    width: 0;
    flex: 1
}

.slide-banner .button {
    padding: 6px 8px;
    background: #24cd77;
    border-radius: 4px;
    font-size: 12px;
    line-height: 12px
}

.slide-banner .dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    line-height: 4px;
    text-align: center;
    background-color: transparent
}

.slide-banner .dots li {
    color: transparent;
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 1.5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer
}

.slide-banner .dots li.on {
    background-color: white
}

.slide-banner .next,
.slide-banner .prev {
    width: 36px;
    height: 36px;
    margin: 0 16px;
    background-image: url(/static/images/icon-slide-banner-prev.svg);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: .8
}

@media screen and (max-width:996px) {

    .slide-banner .next,
    .slide-banner .prev {
        display: none
    }
}

.slide-banner .next {
    left: auto;
    right: 0;
    transform-origin: center;
    transform: translateY(-50%) rotateZ(180deg)
}

.apk-list-1001 {
    white-space: nowrap;
    overflow-x: auto;
    padding-bottom: 16px
}

.apk-list-1001 a {
    vertical-align: middle;
    display: inline-block;
    margin-left: 12px;
    margin-left: var(--app-horizontal-spacing);
    min-width: 76px;
    width: 12.5%;
    width: calc((100% - 32px - 7 * var(--app-horizontal-spacing))/ 8)
}

.apk-list-1001 a:first-child {
    margin-left: 16px
}

.apk-list-1001 a:last-child {
    margin-right: 16px
}

.apk-list-1001 .img-ratio {
    position: relative;
    padding-top: 100%
}

.apk-list-1001 .img-ratio>.icon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.apk-list-1001 .icon {
    border: 1px solid #eff3f9;
    border-radius: 15%
}

.apk-list-1001 .name {
    margin-top: 4px;
    line-height: 20px;
    color: #5e5e5e;
    height: 40px;
    white-space: initial
}

@media screen and (max-width:429px) {
    .apk-list-1001.enable-wrap {
        display: flex;
        flex-wrap: wrap;
        padding: 0 16px;
        padding-bottom: 16px;
        justify-content: space-between
    }

    .apk-list-1001.enable-wrap a {
        width: 20%;
        width: calc((100% - 48px)/ 4);
        min-width: auto;
        margin-left: 0
    }

    .apk-list-1001.enable-wrap a:nth-child(n+5) {
        margin-top: 12px
    }

    .apk-list-1001.enable-wrap a:last-child {
        margin-right: 0
    }
}

.apk-list-1002 {
    white-space: nowrap;
    overflow-x: auto;
    padding-bottom: 16px
}

.apk-list-1002 a {
    display: inline-block;
    white-space: initial;
    margin-left: 12px;
    margin-left: var(--app-vertical-spacing);
    min-width: 76px;
    width: 12.5%;
    width: calc((100% - 32px - 7 * var(--app-horizontal-spacing))/ 8)
}

.apk-list-1002 a:first-child {
    margin-left: 16px
}

.apk-list-1002 a:last-child {
    margin-right: 16px
}

.apk-list-1002 a:first-child .img-ratio {
    position: relative
}

.apk-list-1002 a:first-child .img-ratio::after,
.apk-list-1002 a:first-child .img-ratio::before {
    display: block;
    position: absolute;
    top: 0;
    left: 12px;
    left: calc((-1 * var(--html-direction) + 1) * (100% - 14px - 24px)/ 2 + 12px)
}

.apk-list-1002 a:first-child .img-ratio::before {
    content: " ";
    border-left: 7px solid #f3251b;
    border-right: 7px solid #f3251b;
    border-top: 14px solid #f3251b;
    border-bottom: 4px solid transparent;
    z-index: 1
}

.apk-list-1002 a:first-child .img-ratio::after {
    content: "1";
    width: 14px;
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    color: #fff;
    z-index: 1
}

.apk-list-1002 a:nth-child(2) .img-ratio {
    position: relative
}

.apk-list-1002 a:nth-child(2) .img-ratio::after,
.apk-list-1002 a:nth-child(2) .img-ratio::before {
    display: block;
    position: absolute;
    top: 0;
    left: 12px;
    left: calc((-1 * var(--html-direction) + 1) * (100% - 14px - 24px)/ 2 + 12px)
}

.apk-list-1002 a:nth-child(2) .img-ratio::before {
    content: " ";
    border-left: 7px solid #f77e13;
    border-right: 7px solid #f77e13;
    border-top: 14px solid #f77e13;
    border-bottom: 4px solid transparent;
    z-index: 1
}

.apk-list-1002 a:nth-child(2) .img-ratio::after {
    content: "2";
    width: 14px;
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    color: #fff;
    z-index: 1
}

.apk-list-1002 a:nth-child(3) .img-ratio {
    position: relative
}

.apk-list-1002 a:nth-child(3) .img-ratio::after,
.apk-list-1002 a:nth-child(3) .img-ratio::before {
    display: block;
    position: absolute;
    top: 0;
    left: 12px;
    left: calc((-1 * var(--html-direction) + 1) * (100% - 14px - 24px)/ 2 + 12px)
}

.apk-list-1002 a:nth-child(3) .img-ratio::before {
    content: " ";
    border-left: 7px solid #efab19;
    border-right: 7px solid #efab19;
    border-top: 14px solid #efab19;
    border-bottom: 4px solid transparent;
    z-index: 1
}

.apk-list-1002 a:nth-child(3) .img-ratio::after {
    content: "3";
    width: 14px;
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    color: #fff;
    z-index: 1
}

.apk-list-1002 .img-ratio {
    position: relative;
    padding-top: 100%
}

.apk-list-1002 .img-ratio>.icon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.apk-list-1002 .icon {
    border: 1px solid #eff3f9;
    border-radius: 15%
}

.apk-list-1002 .name {
    margin-top: 4px;
    line-height: 20px;
    color: #5e5e5e;
    height: 40px
}

.apk-list-1002 .score {
    margin-top: 4px;
    color: #fa8b16;
    font-size: 12px;
    line-height: 10px;
    height: 10px
}

.apk-list-1002 .score::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(/static/images/icon-apk-list-star.svg);
    margin-right: 4px
}

.apk-list-1003 {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding-bottom: 16px
}

.apk-list-1003 a {
    width: 260px;
    margin-left: 4px;
    margin-left: var(--app-horizontal-spacing)
}

.apk-list-1003 a:first-child {
    margin-left: 16px
}

.apk-list-1003 a:last-child {
    margin-right: 16px
}

.apk-list-1003 .banner {
    border-radius: 8px
}

.apk-list-1003 .info {
    display: flex;
    align-items: center;
    margin-top: 4px
}

.apk-list-1003 .info .text {
    flex-grow: 1;
    width: 0;
    margin: 0 8px
}

.apk-list-1003 .icon {
    border: 1px solid #eff3f9;
    border-radius: 15%
}

.apk-list-1003 .name {
    font-weight: 500;
    line-height: 20px;
    color: #4b4b4b
}

.apk-list-1003 .desc {
    margin-top: 8px;
    font-size: 12px;
    line-height: 16px;
    color: #8b8b8b
}

.apk-list-1003 .score {
    color: #fa8b16;
    font-size: 12px;
    line-height: 16px
}

.apk-list-1003 .score::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(/static/images/icon-apk-list-star.svg);
    margin-inline-end: 4px
}

.apk-list-1003 .score.n-stars {
    color: transparent
}

.apk-list-1003 .score.n-stars::before {
    background: url(/static/images/icon-apk-list-star-grey.svg)
}

.apk-list-1004 {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding-bottom: 16px;
    padding-right: 16px;
    flex-wrap: wrap
}

@media screen and (max-width:719px) {
    .apk-list-1004 {
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 236px
    }
}

.apk-list-1004 a {
    width: 28%;
    width: calc((100% - 16px - 2 * var(--app-horizontal-spacing))/ 3);
    height: 68px;
    margin-left: 12px;
    margin-left: var(--app-horizontal-spacing);
    display: flex;
    align-items: center
}

.apk-list-1004 a:nth-child(n+4) {
    margin-top: 12px
}

.apk-list-1004 a:nth-child(3n+1) {
    margin-left: 16px
}

@media screen and (max-width:996px) {
    .apk-list-1004 a {
        width: 80%;
        width: calc(100% - 60px);
        margin-left: 12px;
        margin-left: var(--app-horizontal-spacing)
    }

    .apk-list-1004 a:nth-child(n) {
        margin-top: 0;
        margin-left: var(--app-horizontal-spacing)
    }

    .apk-list-1004 a:nth-child(-n+3) {
        margin-left: 16px
    }

    .apk-list-1004 a:nth-child(3n+2),
    .apk-list-1004 a:nth-child(3n+3) {
        margin-top: 16px
    }
}

.apk-list-1004 .icon {
    border: 1px solid #eff3f9;
    border-radius: 15%
}

.apk-list-1004 .text {
    width: 0;
    flex-grow: 1;
    margin: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch
}

.apk-list-1004 .name {
    line-height: 20px;
    color: #5e5e5e
}

.apk-list-1004 .developer {
    color: #8b8b8b;
    font-size: 12px;
    line-height: 20px
}

.apk-list-1004 .count {
    font-size: 12px;
    color: #5e5e5e
}

.apk-list-1004 .button {
    padding: 6px 8px;
    background: #24cd77;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    color: #fff
}

.apk-list-1005 {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding-bottom: 16px;
    padding-right: 16px;
    flex-wrap: wrap
}

@media screen and (max-width:719px) {
    .apk-list-1005 {
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 228px
    }
}

.apk-list-1005 a {
    width: 28%;
    width: calc((100% - 16px - 2 * var(--app-horizontal-spacing))/ 3);
    height: 68px;
    margin-left: 12px;
    margin-left: var(--app-horizontal-spacing);
    display: flex;
    align-items: center
}

.apk-list-1005 a:nth-child(n+4) {
    margin-top: 12px
}

.apk-list-1005 a:nth-child(3n+1) {
    margin-left: 16px
}

@media screen and (max-width:996px) {
    .apk-list-1005 a {
        width: 80%;
        width: calc(100% - 60px);
        margin-left: 12px;
        margin-left: var(--app-horizontal-spacing)
    }

    .apk-list-1005 a:nth-child(n) {
        margin-top: 0;
        margin-left: var(--app-horizontal-spacing)
    }

    .apk-list-1005 a:nth-child(-n+3) {
        margin-left: 16px
    }

    .apk-list-1005 a:nth-child(3n+2),
    .apk-list-1005 a:nth-child(3n+3) {
        margin-top: 12px
    }
}

.apk-list-1005 .icon {
    border: 1px solid #eff3f9;
    border-radius: 15%
}

.apk-list-1005 .text {
    width: 0;
    flex-grow: 1;
    margin: 0 12px;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch
}

.apk-list-1005 .name {
    line-height: 20px;
    color: #5e5e5e;
    font-weight: 500
}

.apk-list-1005 .developer {
    color: #8b8b8b;
    font-size: 12px;
    line-height: 20px
}

.apk-list-1005 .price {
    text-align: end;
    line-height: 20px
}

.apk-list-1005 .price .new {
    font-weight: 500;
    color: #5e5e5e
}

.apk-list-1005 .price .old {
    margin-top: 6px;
    font-size: 12px;
    color: #8b8b8b;
    text-decoration-line: line-through
}

.article-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 8px
}

.article-list .article {
    width: 45%;
    width: calc(50% - 24px);
    padding: 8px 0;
    margin-left: 16px;
    display: flex;
    align-items: stretch
}

.article-list .article:nth-child(-n+2) {
    padding-top: 0
}

.article-list .article:nth-child(n+3) {
    border-top: 1px solid #f0f2f4
}

@media screen and (max-width:719px) {
    .article-list .article {
        width: 100%;
        margin: 0 16px
    }

    .article-list .article:first {
        padding-top: 0
    }

    .article-list .article:nth-child(n+2) {
        border-top: 1px solid #f0f2f4;
        padding-top: 8px
    }
}

.article-list .article-banner {
    border-radius: 4px;
    height: 80px;
    width: 142px;
    object-fit: cover
}

@media screen and (max-width:719px) {
    .article-list .article-banner {
        height: 70px;
        width: 124.44px
    }
}

.article-list .article-banner {
    margin-right: 12px
}

.article-list .text {
    flex-grow: 1;
    width: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.article-list .article-title {
    line-height: 20px;
    color: #5e5e5e;
    font-weight: 500
}

.article-list .updated {
    font-size: 12px;
    line-height: 16px;
    color: #a6a6a6;
    margin-top: 8px
}

.apk-list-1008 {
    white-space: nowrap;
    overflow-x: auto;
    padding-bottom: 16px
}

.apk-list-1008 a {
    vertical-align: middle;
    display: inline-block;
    margin-left: 12px;
    margin-left: var(--app-horizontal-spacing);
    min-width: 76px;
    width: 12.5%;
    width: calc((100% - 32px - 7 * var(--app-horizontal-spacing))/ 8);
    overflow: hidden
}

.apk-list-1008 a:first-child {
    margin-left: 16px
}

.apk-list-1008 a:last-child {
    margin-right: 16px
}

.apk-list-1008 .img-ratio {
    position: relative;
    padding-top: 100%
}

.apk-list-1008 .img-ratio>.icon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.apk-list-1008 .icon {
    border: 1px solid #eff3f9;
    border-radius: 15%
}

.apk-list-1008 .name {
    margin-top: 4px;
    line-height: 20px;
    color: #5e5e5e;
    height: 40px;
    white-space: initial
}

.apk-list-1008 .category,
.apk-list-1008 .install-total {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #8b8b8b
}

@media screen and (max-width:996px) {

    .apk-list-1008 .category,
    .apk-list-1008 .install-total {
        display: none
    }
}