.menu_html {
    overflow-y: hidden !important
}

.menu {
    -webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -o-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -webkit-transition-timing-function: cubic-bezier(.165, .84, .44, 1);
    -moz-transition-timing-function: cubic-bezier(.165, .84, .44, 1);
    -o-transition-timing-function: cubic-bezier(.165, .84, .44, 1);
    transition-timing-function: cubic-bezier(.165, .84, .44, 1)
}

.menu {
    transition-duration: .3s;
    position: fixed;
    top: 0;
    left: -270px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10001;
    padding-bottom: 60px;
    min-width: 200px;
    width: 60%;
    max-width: 251px;
    background: #fff
}

.menu-btn {
    padding: 13px 0;
    width: 45px
}

.menu-btn .bar_1,
.menu-btn .bar_2,
.menu-btn .bar_3 {
    position: relative;
    display: block;
    width: 21px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    border-radius: 10px
}

.menu-btn .bar_1 {
    margin-top: 0
}

.menu-btn .bar_3 {
    margin-bottom: 0
}

.menu-text {
    margin-left: 8px
}

.menu-only-text {
    padding: 10px 0 10px 20px
}

.menu-only-text {
    color: #555;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.menu-icon {
    display: inline-block;
    background-size: 24px;
    height: 24px;
    width: 24px;
    margin: auto;
    position: relative;
    top: 6px
}

.menu-icon-game {
    background-position: 0 -48px
}

.menu-icon-app {
    background-position: 0 0
}

.menu-icon-trending {
    background-position: 0 -216px
}

.menu-icon-search {
    background-position: 0 -144px
}

.menu-icon-home {
    background-position: 0 -72px
}

.menu-icon-pre {
    background-position: 0 -240px
}

.menu-icon-news {
    background-position: 0 -312px
}

.menu-icon-reviews {
    background-position: 0 -336px
}

.menu-icon-howto {
    background-position: 0 -360px
}

.menu-topics {
    position: absolute;
    right: 25px
}

.menu-topics {
    top: 22px
}

.menu-topics-li .menu-only-text.on {
    color: #24cd77
}

.back-btn {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center
}

@keyframes pwa-dialog-show {
    from {
        left: -360px
    }

    to {
        left: 24px
    }
}

@keyframes pwa-dialog-hide {
    from {
        left: 24px
    }

    to {
        left: -360px
    }
}

body,
button,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
legend,
li,
p,
pre,
th,
ul {
    margin: 0;
    padding: 0
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    color: #666;
    line-height: 18px;
    z-index: -10000;
    min-width: 1043px;
    background: #f2f5f9
}

button {
    border-radius: 0
}

a {
    color: #00a6ed;
    text-decoration: none
}

a:hover {
    color: #00b6ff
}

li {
    list-style: none
}

img {
    vertical-align: middle;
    border: 0;
    color: #ccc
}

button {
    outline: 0
}

.left {
    float: left;
    width: 850px
}

.right {
    float: right;
    width: 330px
}

.header {
    height: 70px;
    width: auto;
    background: #fdfdfd;
    border-bottom: 1px solid #e2e2e3
}

.head {
    width: 1200px;
    height: 70px;
    margin: 0 auto
}

.banner {
    background: url(/static/images/bannerbg1.jpg) center no-repeat;
    width: auto;
    height: 495px
}

.top-search {
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    height: 50px;
    padding: 0 10px;
    padding-top: 17px
}

@keyframes bgShakeTop {

    from,
    to {
        background-position: center 3px
    }

    25% {
        background-position: 5.5px center
    }

    50% {
        background-position: center 6px
    }

    75% {
        background-position: 2.5px center
    }
}

.top-search .search-left {
    width: 168px;
    height: 31px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0
}

.top-search .search-right {
    position: absolute;
    width: 30px;
    height: 31px;
    right: 0;
    top: 0
}

.top-menu {
    float: right
}

.top-menu a {
    display: block;
    line-height: inherit;
    cursor: pointer;
    padding: 0 15px 0 40px;
    color: #666
}

.menu_body {
    display: block;
    overflow: hidden;
    padding: 5px 0
}

.menu_body a {
    display: block;
    white-space: nowrap;
    background: 0 0;
    padding: 0 30px;
    height: 42px;
    line-height: 42px;
    color: #555;
    font-weight: 400
}

.menu_body a:hover {
    color: #fff;
    background-color: #24cd77
}

.menu_body a.h {
    color: #fff;
    background: #24cd77;
    margin-top: 5px;
    text-align: center
}

.a_d-left {
    margin: 0 auto 20px auto;
    position: relative;
    width: 728px;
    height: 90px;
    overflow: hidden
}

.box {
    background: #fff;
    width: auto;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15);
    margin-bottom: 20px
}

.box .title {
    background: #fbfbfb;
    border-bottom: 1px solid #e8e8e8;
    height: 55px;
    line-height: 55px;
    color: #666;
    font-size: 18px;
    padding: 0 10px;
    font-weight: 400;
    position: relative
}

.box .title h1 {
    font-size: 18px;
    font-weight: 400;
    float: left
}

.box .title a {
    color: #666;
    text-decoration: none
}

.box .title a:hover {
    color: #00a6ed
}

.box .title .more {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 15px;
    height: 20px;
    line-height: 20px;
    text-align: right
}

.box .title .more a {
    color: #666;
    font-size: 14px
}

.box .title .more a:hover {
    color: #00a6ed
}

.top-list {
    margin: 0 auto;
    overflow: hidden
}

.top-list li {
    width: 25%;
    float: left;
    position: relative
}

.top-list li.w33 {
    width: 33.33% !important
}

.top-list li.w5 {
    width: 50% !important
}

.top-list li:hover {
    background: #f5f7fa
}

.top-list li:hover a {
    color: #00a6ed
}

.facebook-like {
    height: 90px;
    margin-bottom: 20px;
    background: #fff;
    width: auto;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15)
}

.bread-crumbs span {
    font-size: 14px;
    color: #24cd77
}

.bread-crumbs a {
    font-size: 14px;
    color: #888
}

.bread-crumbs a:hover {
    color: #24cd77
}

.stars {
    background: url(/static/images/stars_fill.svg) repeat-x;
    height: 15px;
    width: 75px;
    clear: both;
    direction: ltr;
    position: relative
}

.stars span.score {
    display: block;
    background: url(/static/images/stars.svg) repeat-x;
    height: 15px;
    width: 75px
}

.stars span.star {
    position: absolute;
    left: 78px;
    line-height: 15px;
    top: 1px;
    color: #fa8b16;
    font-size: 13px
}

.stars-box>i {
    background: url(/static/images/stars.svg) no-repeat left center;
    display: inline-block;
    height: 12px;
    background-size: 12px;
    width: 12px;
    top: 1px;
    position: relative
}

.stars-box>.star {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #eb903a
}

.footer {
    width: auto;
    color: #777
}

.footer-list {
    width: 100%;
    background: #fdfdfd;
    border-top: 1px solid #e2e2e3;
    border-bottom: 1px solid #e2e2e3
}

.footer-list .list {
    width: 270px;
    float: left;
    padding: 20px 15px 20px 15px
}

.footer-list .list p {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 10px;
    color: #333
}

.footer-list .list ul {
    padding-left: 16px
}

.footer-list .list ul li {
    line-height: 20px;
    list-style: disc;
    padding-bottom: 5px;
    font-size: 12px
}

.footer-list .list ul li a {
    color: #666
}

.footer-list .list ul li a:hover {
    color: #00a6ed
}

.footer .follow {
    padding-left: 3px !important
}

.footer .follow li {
    list-style: none !important
}

.footer .follow li a {
    background-image: url(/static/images/user_v3.png);
    background-size: 22px;
    width: 20px;
    height: 20px;
    display: inline-block
}

.footer .follow li a span {
    margin-left: 26px
}

.share-menu {
    visibility: hidden;
    opacity: 0
}

.share-side-text {
    font-size: 9px;
    line-height: 1.25em;
    color: #222;
    letter-spacing: 1px
}

.fancybox-container {
    z-index: 999999 !important
}

@media only screen and (max-width:1300px) {
    body {
        min-width: 1048px
    }

    .head {
        width: auto
    }

    .left {
        width: 728px
    }

    .right {
        width: 300px
    }

    .footer-list .list {
        width: 230px
    }

    .top-search .search-left {
        width: 108px
    }
}

#header {
    position: fixed;
    width: 100%;
    background-color: #24cd77;
    z-index: 999999;
    top: 0
}

#header a,
#header button {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    text-decoration: none
}

#header .menu_btn {
    display: flex;
    width: 45px;
    height: 45px;
    border: none;
    background: 0 0;
    color: #24cd77;
    opacity: .8;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

#header .search_btn {
    display: flex;
    width: 45px;
    height: 45px;
    border: none;
    background: 0 0;
    color: #24cd77;
    opacity: .8;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: 0;
    left: auto
}

.menu-only-text {
    color: #777;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.footer_new {
    background-color: #fff;
    overflow: initial;
    width: 100% !important
}

.footer_new .footer_container {
    padding: 0 16px;
    margin: 0 auto
}

.footer_container>.info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.footer_container .info .base_info>p {
    font-size: 12px;
    line-height: 16px;
    margin: 12px 0;
    color: #a6a6a6
}

.footer_container .info .share-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

.footer_container .info .share-box li {
    margin-right: 6px
}

.footer_container .info .share-box li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px
}

.footer_container .info .share-box li>a.telegram {
    fill: currentColor
}

.footer_container .info .share-box li>a.telegram:hover {
    color: #8b8b8b
}

.footer_container .info .share-box li .icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(/static/images/svg_icon.svg) no-repeat;
    background-position: 0 -264px
}

.footer_container .info .item {
    padding: 12px 0
}

.footer_container .info .item .title {
    font-weight: 500;
    font-size: 16px;
    color: #777
}

.footer_container .info .item ul li {
    margin-top: 8px
}

.footer_container .info .item ul li a {
    color: #8b8b8b;
    font-size: 13px;
    line-height: 22px
}

.footer_container .info .item ul li a:hover {
    color: #24cd77
}

.footer_container .info .item ul.share-box li:last-child {
    margin-bottom: 0
}

.footer_container .info .item:last-child ul li:last-child {
    margin-bottom: 0
}

.footer_container .info .item>p {
    margin: 12px 0 4px;
    color: #8b8b8b;
    font-size: 13px;
    line-height: 22px
}

.footer_container .current_box {
    line-height: 28px;
    padding: 0 10px;
    color: #6f6f6f;
    position: relative;
    border: 1px solid #e7e7e7;
    display: inline-block;
    margin: 8px auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.footer_container .menu_list {
    position: absolute;
    display: none;
    background: #fff;
    bottom: 40px;
    -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, .15));
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .15));
    left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 999999
}

.footer_container .menu_list::after {
    content: " ";
    position: absolute;
    bottom: -10px;
    left: 8px;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border: 16px solid transparent;
    bottom: -27px;
    left: 0 !important;
    right: 0 !important
}

.footer_container .menu_list::before {
    content: " ";
    position: absolute;
    bottom: -10px;
    left: 8px;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent
}

.footer_container .menu_list .menu_body ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 200px;
    padding: 8px 0;
    overflow-y: auto
}

.footer_container .menu_list .menu_body ul li {
    width: 100px
}

body {
    padding-top: 45px
}

body {
    background: #fff
}

@media only screen and (max-width:1300px) {
    .article-navigation-bar.bar .article-menu {
        max-width: 1100px;
        min-width: auto
    }
}

@media screen and (max-width:996px) {
    .article-navigation-bar.bar.article-navigation-bar.bar {
        margin-bottom: 0
    }
}

.article-content {
    color: #5e5e5e;
    font-size: 14px;
    line-height: 22px
}

.article-content>* {
    margin-top: 0;
    margin-bottom: 16px
}

.article-content>h2 {
    color: #4b4b4b;
    font-size: 20px
}

.article-content a {
    color: #00a6ed
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5 {
    margin-bottom: 16px;
    color: #4b4b4b
}

.article-content h1 {
    font-size: 24px;
    line-height: 32px
}

.article-content h3 {
    font-size: 20px;
    line-height: 28px
}

.article-content .tips-title>div {
    border-left: 5px solid #24cd77;
    background: #f8f9fa;
    padding: 12px
}

.article-content>h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #4b4b4b;
    word-break: normal
}

.article-content>p {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 22px;
    color: #5e5e5e;
    word-break: normal
}

.article-content>p a {
    font-weight: 500;
    color: #00a6ed
}

.article-content>p a:hover {
    color: #00a6ed
}

.article-content>p img {
    width: 100%
}

.article-content>ul {
    margin-bottom: 16px;
    padding-left: 18px
}

.article-content>ul li {
    font-size: 14px;
    line-height: 22px;
    color: #5e5e5e;
    list-style: disc
}

.article-content>ul li a {
    color: #00a6ed
}

.article-content>ul li a:hover {
    color: #00a6ed
}

.article-content>ul li+li {
    margin-top: 8px
}

html[dir=rtl] .article-content .tips-title>div {
    border-right: 5px solid #24cd77;
    border-left: none
}

html[dir=rtl] .article-content ul {
    padding-left: 0;
    padding-right: 24px
}

.collection-pubg-entry-top {
    padding-top: 16px;
    margin-bottom: 16px;
    display: block;
    text-align: center
}

.collection-pubg-entry-bottom {
    padding: 16px 0;
    display: none;
    text-align: center;
    border-bottom: 4px solid #f2f5f9
}

.article-image-link img {
    object-fit: cover
}

.article-container {
    margin: 0 auto 16px;
    padding: 0 16px;
    max-width: 1100px
}

.article-container .article-navigation-bar.bar {
    display: none
}

.article-container .article-navigation-bar.side {
    padding: 0 8px;
    display: block
}

.article-container .article-content-top {
    margin-top: 16px;
    /* display: flex; */
    padding-bottom: 16px;
    border-bottom: 1px solid #e7e7e7
}

.article-container .article-content-top-left {
    width: 720px
}

.article-container .article-content-top-left .bread-crumbs {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.article-container .article-content-top-left .bread-crumbs a,
.article-container .article-content-top-left .bread-crumbs span {
    font-size: 12px;
    line-height: 14px;
    color: #8b8b8b;
    display: inline-block
}

.article-container .article-content-top-left .bread-crumbs i {
    display: inline-block;
    margin: 0 6px;
    vertical-align: middle;
    width: 4px;
    height: 4px;
    border: 0 none;
    border-color: #8b8b8b;
    border-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    transform: rotate(45deg)
}

.article-container .article-content-top-left .bread-crumbs a:hover {
    color: #00a6ed
}

.article-container .article-content-top-left .title {
    margin-top: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #3c4043
}

.article-container .article-content-top-left .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #5e5e5e
}

.article-container .article-content-top-left .article-head {
    margin-top: 16px;
    display: flex;
    padding-bottom: 16px;
    justify-content: space-between;
    border-bottom: 1px solid #eee
}

.article-container .article-content-top-left .article-head .info .author {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e
}

.article-container .article-content-top-left .article-head .info .date {
    display: block;
    margin-top: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #a6a6a6
}

.article-container .article-content-top-left .article-head .share-box {
    display: flex
}

.article-container .article-content-top-left .article-head .share-box li {
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    margin-left: 4px;
    cursor: pointer
}

.article-container .article-content-top-left .article-head .share-box li:hover {
    opacity: .9
}

.article-container .article-content-top-left .article-head .share-box li svg {
    fill: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.article-container .article-content-top-left .article-head .share-box li.facebook {
    background-color: #3b5998
}

.article-container .article-content-top-left .article-head .share-box li.twitter {
    background-color: #00aced
}

.article-container .article-content-top-left .article-head .share-box li.reddit {
    background-color: #ff5700
}

.article-container .article-content-top-left .article-head .share-box li.more {
    border: 1px solid #e7e7e7;
    box-sizing: border-box
}

.article-container .article-content-top-left .article-head .share-box li.more svg {
    fill: #8b8b8b;
    width: 12px
}

.article-container .article-content-top-left .banner {
    margin: 16px 0;
    width: 100%;
    height: 0;
    position: relative;
    display: block;
    padding-bottom: 56.25%;
    background: 0 0;
    cursor: pointer
}

.article-container .article-content-top-left .banner img {
    position: absolute;
    width: 100%;
    height: 100%
}

.article-container .article-content-top-left .share-box-footer {
    display: flex;
    padding-top: 16px;
    margin-top: 40px;
    border-top: 1px solid #e7e7e7
}

.article-container .article-content-top-left .share-box-footer li {
    flex: 1;
    height: 45px;
    background-color: #fff;
    position: relative;
    cursor: pointer
}

.article-container .article-content-top-left .share-box-footer li:hover {
    opacity: .9
}

.article-container .article-content-top-left .share-box-footer li a {
    display: block;
    width: 100%;
    height: 100%
}

.article-container .article-content-top-left .share-box-footer li+li {
    margin-left: 4px
}

.article-container .article-content-top-left .share-box-footer li svg {
    width: 20px;
    height: 20px;
    fill: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.article-container .article-content-top-left .share-box-footer li.facebook {
    background-color: #3b5998
}

.article-container .article-content-top-left .share-box-footer li.twitter {
    background-color: #00aced
}

.article-container .article-content-top-left .share-box-footer li.reddit {
    background-color: #ff5700
}

.article-container .article-content-top-left .share-box-footer li.more {
    border: 1px solid #e7e7e7;
    box-sizing: border-box
}

.article-container .article-content-top-left .share-box-footer li.more svg {
    fill: #8b8b8b
}

.article-container .article-content-top-left .related-tags-title {
    margin-top: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #4b4b4b
}

.article-container .article-content-top-left .tag-list a {
    display: inline-block;
    padding: 8px 12px;
    margin-right: 8px;
    margin-top: 8px;
    background-color: #f8f9fa;
    border-radius: 30px;
    font-size: 14px;
    line-height: 18px;
    color: #777
}

.article-container .article-content-top-left .tag-list a:hover {
    background: rgba(0, 166, 237, .1);
    color: #00a6ed
}

.article-container .article-content-top-right {
    width: 330px;
    margin-left: 24px
}

.article-container .article-content-top-right .article-list-title {
    padding-left: 8px;
    padding-top: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #4b4b4b;
    position: relative;
    cursor: pointer
}

.article-container .article-content-top-right .article-list-item:first-child {
    margin-top: 0
}

.article-container .article-content-top-right .article-list-item {
    padding: 8px;
    display: flex
}

.article-container .article-content-top-right .article-list-item:hover {
    opacity: .9;
    background-color: #f8f9fa
}

.article-container .article-content-top-right .article-list-item:hover .info .title {
    color: #00b6ff
}

.article-container .article-content-top-right .article-list-item .article-image-link {
    position: relative;
    width: 128px;
    height: 72px;
    border-radius: 4px;
    overflow: hidden
}

.article-container .article-content-top-right .article-list-item .article-image-link img {
    width: 100%;
    height: 100%
}

.article-container .article-content-top-right .article-list-item .article-image-link .badge {
    position: absolute;
    top: 4px;
    left: 4px;
    display: block;
    height: 20px;
    border-radius: 2px;
    background: rgba(250, 139, 22, .9);
    font-size: 12px;
    line-height: 20px;
    padding: 0 4px;
    color: #fff
}

.article-container .article-content-top-right .article-list-item .info {
    flex: 1;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.article-container .article-content-top-right .article-list-item .info .title {
    display: -webkit-box;
    height: 46px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #4b4b4b;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

.article-container .article-content-top-right .article-list-item .info .date {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #a6a6a6
}

.article-container .article-content-bottom {
    margin: 12px auto 0
}

.article-container .article-content-bottom .article-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #4b4b4b
}

.article-container .article-content-bottom .statistics-article-list-wrapper {
    position: relative;
    margin-top: 8px
}

.article-container .article-content-bottom .statistics-article-list-container {
    overflow: hidden
}

.article-container .article-content-bottom .statistics-article-list-container .statistics-article-list {
    display: flex
}

.article-container .article-content-bottom .statistics-article-list-container .statistics-article-list .article-list-item {
    max-width: calc(25% - 5px);
    margin-right: 8px;
    flex-shrink: 0;
    background: #f8f9fa;
    border-radius: 4px;
    overflow: hidden
}

.article-container .article-content-bottom .statistics-article-list-container .statistics-article-list .article-list-item:hover {
    opacity: .9
}

.article-container .article-content-bottom .statistics-article-list-container .statistics-article-list .article-list-item:hover .info .title {
    color: #00b6ff
}

.article-container .article-content-bottom .statistics-article-list-container .statistics-article-list .article-list-item>a {
    width: 100%;
    height: 0;
    position: relative;
    display: block;
    padding-bottom: 56.25%;
    overflow: hidden
}

.article-container .article-content-bottom .statistics-article-list-container .statistics-article-list .article-list-item img {
    position: absolute;
    width: 100%;
    height: 100%
}

.article-container .article-content-bottom .statistics-article-list-container .statistics-article-list .info {
    padding: 8px
}

.article-container .article-content-bottom .statistics-article-list-container .statistics-article-list .info .title {
    height: 44px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #4b4b4b;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.article-container .article-content-bottom .statistics-article-list-container .statistics-article-list .info .tags {
    margin-top: 8px;
    height: 18px;
    width: 100%;
    overflow: hidden;
    word-break: break-all
}

.article-container .article-content-bottom .statistics-article-list-container .statistics-article-list .info .tags .tag {
    padding: 2px 8px;
    background: rgba(250, 139, 22, .1);
    border-radius: 2px;
    font-size: 12px;
    line-height: 16px;
    color: #fa8b16;
    margin-right: 8px;
    margin-top: 4px
}

.article-container .article-content-bottom .statistics-article-list-container .swiper-button-next,
.article-container .article-content-bottom .statistics-article-list-container .swiper-button-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fff;
    outline: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, .25);
    border-radius: 50%;
    cursor: pointer
}

.article-container .article-content-bottom .statistics-article-list-container .swiper-button-next::before,
.article-container .article-content-bottom .statistics-article-list-container .swiper-button-prev::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9px;
    height: 9px;
    border-color: #8b8b8b;
    border-width: 1.8px;
    transform: translate(-50%, -50%) rotate(45deg)
}

.article-container .article-content-bottom .statistics-article-list-container .swiper-button-prev {
    left: 0;
    margin-left: -20px
}

.article-container .article-content-bottom .statistics-article-list-container .swiper-button-prev::before {
    border-left-style: solid;
    border-bottom-style: solid;
    margin-left: 2px
}

.article-container .article-content-bottom .statistics-article-list-container .swiper-button-next {
    right: 0;
    margin-right: -20px
}

.article-container .article-content-bottom .statistics-article-list-container .swiper-button-next::before {
    border-top-style: solid;
    border-right-style: solid;
    margin-left: -2px
}

.article-container .article-list-title {
    position: relative
}

.article-container .article-list-title a {
    color: #4b4b4b
}

.article-container .article-list-title a::after {
    content: " ";
    display: inline-block;
    align-self: center;
    width: 5px;
    height: 5px;
    border: 2px solid #4b4b4b;
    border-right: 0;
    border-bottom: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    flex-shrink: 0;
    margin: 0 8px;
    margin-bottom: 2px
}

.article-container .article-list-title:hover a {
    color: #00b6ff
}

.article-container .article-list-title:hover a::after {
    border-color: #00b6ff
}

.article-container-howto .article-content-bottom .statistics-article-list-container .statistics-article-list .article-list-item {
    background-color: #fff
}

.article-container-howto .article-content-bottom .statistics-article-list-container .statistics-article-list .article-list-item .info {
    padding-left: 0;
    padding-right: 0
}

.article-container-reviews .article-content-top-right .related-article-list .article-list-item:nth-child(1) {
    display: block;
    padding: 0;
    margin: 8px
}

.article-container-reviews .article-content-top-right .related-article-list .article-list-item:nth-child(1) .article-image-link {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%
}

.article-container-reviews .article-content-top-right .related-article-list .article-list-item:nth-child(1) .article-image-link::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 100%)
}

.article-container-reviews .article-content-top-right .related-article-list .article-list-item:nth-child(1) .article-image-link img {
    position: absolute
}

.article-container-reviews .article-content-top-right .related-article-list .article-list-item:nth-child(1) .info {
    position: absolute;
    bottom: 8px;
    z-index: 3;
    padding: 0 8px
}

.article-container-reviews .article-content-top-right .related-article-list .article-list-item:nth-child(1) .info .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    height: auto
}

.article-container-reviews .article-content-top-right .related-article-list .article-list-item:nth-child(1) .info .date {
    display: none
}

.article-container-reviews .article-content-top-right .related-article-list .article-list-item:nth-child(1):hover {
    opacity: .9;
    background-color: none
}

.article-container-reviews .article-content-top-right .related-article-list .article-list-item:nth-child(1):hover .info .title {
    color: #00b6ff
}

@media screen and (max-width:1150px) {

    .swiper-button-next,
    .swiper-button-prev {
        display: none
    }
}

@media screen and (max-width:996px) {
    .article-container {
        padding: 0;
        width: auto
    }

    .article-container .collection-pubg-entry-top {
        border-top: 4px solid #f2f5f9
    }

    .article-container .collection-pubg-entry-bottom {
        display: block
    }

    .article-container .article-navigation-bar.bar {
        display: block
    }

    .article-container .article-navigation-bar.side {
        display: none
    }

    .article-container .article-content-top {
        margin-top: 0;
        border-top: 4px solid #f2f5f9;
        padding-top: 8px;
        flex-direction: column;
        padding-bottom: 0;
        border-bottom: none
    }

    .article-container .article-content-top-left {
        padding: 0 16px 16px;
        width: auto
    }

    .article-container .article-content-top-left .title {
        font-size: 20px;
        line-height: 28px
    }

    .article-container .article-content-top-right {
        margin: 0;
        width: auto
    }

    .article-container .article-content-top-right .article-list-title {
        padding: 8px 16px 0 16px;
        border-top: 4px solid #f2f5f9
    }

    .article-container .article-content-top-right .article-list {
        padding: 0 16px 8px 16px
    }

    .article-container .article-content-top-right .article-list .article-list-item {
        padding: 8px 0
    }

    .article-container .article-content-bottom {
        width: 100%;
        overflow: hidden;
        margin-top: 0;
        padding-bottom: 8px;
        border-top: 4px solid #f2f5f9;
        border-bottom: 4px solid #f2f5f9
    }

    .article-container .article-content-bottom .article-list-title {
        padding: 8px 16px
    }

    .article-container .article-content-bottom .statistics-article-list-wrapper {
        width: 1100px;
        margin-top: 0
    }

    .article-container .article-content-bottom .statistics-article-list-wrapper .statistics-article-list-container {
        padding-left: 16px
    }

    .article-container-reviews .article-content-top-right .related-article-list .article-list-item:nth-child(1) {
        margin: 8px 0 0 0
    }

    .article-list-title a::after {
        position: absolute;
        right: 12px;
        top: 18px
    }
}

.content-menu .content-menu-head {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border: 1px solid #eee;
    border-radius: 4px;
    color: #00a6ed;
    background-color: #fff
}

.content-menu .content-menu-head span {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px
}

.content-menu .content-menu-head i {
    width: 5px;
    height: 5px;
    display: block;
    border-left: 1.8px solid #00a6ed;
    border-bottom: 1.8px solid #00a6ed;
    transform: rotate(135deg);
    margin-top: -2px
}

.content-menu .content-menu-list {
    padding: 8px 0;
    margin-top: 8px;
    border: 1px solid #eee;
    box-shadow: 0 0 12px rgba(0, 0, 0, .05);
    border-radius: 4px;
    background-color: #fff
}

.content-menu .content-menu-list li {
    list-style: none
}

.content-menu .content-menu-list li span {
    cursor: pointer;
    display: block;
    padding: 12px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #777
}

.content-menu .content-menu-list li span:hover {
    color: #00a6ed;
    background-color: #f8f9fa
}

.content-menu {
    margin-bottom: 16px
}

.app-card {
    border-radius: 8px;
    background: #f2f6fc
}

.app-card .download-btn:hover {
    background: #24dc83
}

.app-card a {
    text-decoration: none
}

.app-card .app-tags {
    overflow: hidden;
    height: 26px
}

.app-card .app-tags a {
    padding: 4px 8px;
    font-size: 12px;
    line-height: 16px;
    color: #a6a6a6;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #fff;
    margin-right: 4px;
    display: inline-block
}

.app-card .app-tags a:hover {
    color: #24cd77;
    background: rgba(36, 205, 119, .1);
    border-color: rgba(36, 205, 119, .1);
    background-clip: padding-box
}

.app-card .app-details {
    margin: 8px 0
}

.app-card .app-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.app-card .app-name .app-name-link {
    display: inline-block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap
}

.app-card .app-howto-share {
    width: 16px;
    height: 16px;
    margin: 0 4px;
    position: relative
}

.app-card .app-stars {
    direction: ltr;
    height: 12px;
    width: 60px;
    background: url(/static/images/stars_fill.svg) repeat-x;
    background-size: 12px
}

.app-card .app-stars .stars-score {
    display: block;
    height: 12px;
    background: url(/static/images/stars.svg) repeat-x;
    background-size: 12px
}

html[dir=rtl] .app-card .app-tags a {
    margin-right: 0;
    margin-left: 4px
}

html[dir=rtl] .app-card .download-btn .fileSize {
    margin-left: 0;
    margin-right: 8px
}

html[lang=ar] .app-card .app-info .app-name a,
html[lang=jp] .app-card .app-info .app-name a,
html[lang=th] .app-card .app-info .app-name a,
html[lang=ur] .app-card .app-info .app-name a {
    font-weight: 700
}

@media screen and (max-width:720px) {
    .app-card {
        padding: 12px
    }

    .app-card p {
        margin: 0
    }

    .app-card .card-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .app-card .card-header .app-icon {
        width: 70px;
        height: 70px
    }

    .app-card .card-header .app-info {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .app-card .card-header .app-info .app-name {
        overflow: hidden;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        color: #00a6ed
    }

    .app-card .card-header .app-info .app-name a {
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
        color: #00a6ed
    }

    .app-card .card-header .app-info .app-author {
        display: none
    }

    .app-card .card-header .app-info .app-pre-info {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #8b8b8b
    }

    .app-card .card-header .app-info .app-pre-info span {
        display: block;
        margin-top: 8px
    }

    .app-card .card-header .app-info .app-desc {
        font-size: 12px;
        line-height: 20px;
        margin-top: 4px;
        word-break: break-word;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: #777
    }

    .app-card .card-header .app-tags {
        display: none
    }

    .app-card .download-btn .fileSize {
        vertical-align: top;
        margin-left: 5px
    }

    .app-card .app-tags {
        margin-top: 12px
    }

    .app-card .download-btn {
        display: block;
        margin-top: 12px;
        text-align: center;
        padding: 9px 0;
        background-color: #24cd77;
        border-radius: 4px;
        color: #fff
    }

    .app-card .download-btn:hover {
        color: #fff
    }

    .app-card .download-btn i {
        vertical-align: middle;
        margin-right: 8px
    }

    .app-card .download-btn>span {
        margin-right: 8px;
        vertical-align: middle;
        display: inline-block;
        height: 19px;
        position: relative
    }

    .app-card .app-icon {
        display: block;
        margin-right: 16px
    }

    .app-card .app-icon img {
        width: 100%;
        height: 100%;
        border-radius: 15%;
        border: 1px solid #eff3f9
    }

    html[dir=rtl] .app-card .download-btn>span {
        margin-left: 8px;
        margin-right: 0
    }

    html[dir=rtl] .app-card .app-icon {
        margin-left: 16px;
        margin-right: 0
    }
}

.backToTop {
    cursor: pointer;
    height: 20px
}

.backToTop:hover {
    opacity: .9
}

.backToTop .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #00a6ed;
    border-radius: 50%;
    vertical-align: bottom
}

.backToTop .icon svg {
    height: 20px;
    margin: 0 5px
}

.backToTop .text {
    display: inline-block;
    margin: 0 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #00a6ed;
    vertical-align: middle
}

.article-navigation-bar.bar {
    width: 100%;
    background-color: #f8f9fa
}

.article-navigation-bar.bar .article-menu {
    margin: 0 auto;
    max-width: 1200px;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 0
}

.article-navigation-bar.bar .article-menu::-webkit-scrollbar {
    height: 0
}

.article-navigation-bar.bar .item {
    display: inline-block;
    padding: 18px 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #4b4b4b
}

@media only screen and (max-width:1300px) {
    .article-navigation-bar.bar .article-menu {
        max-width: 1048px;
        min-width: 1048px
    }
}

@media screen and (max-width:995px) {
    .article-navigation-bar.bar {
        margin-bottom: 4px;
        background-color: #fff
    }

    .article-navigation-bar.bar .article-menu {
        width: 100%;
        min-width: 0
    }

    .article-navigation-bar.bar .item {
        padding: 14px 12px;
        color: #777
    }
}

.article-navigation-bar.side {
    padding: 8px
}

.article-navigation-bar.side .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4b4b4b
}

.article-navigation-bar.side .article-menu {
    margin-top: 12px
}

.article-navigation-bar.side .item {
    display: inline-block;
    width: calc(50% - 4px);
    height: 24px;
    padding: 4px 0;
    margin: 4px 0;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    color: #4b4b4b;
    background: #f2f6fc;
    border-radius: 40px
}

.article-navigation-bar.side .item:hover {
    color: #00a6ed
}

.article-navigation-bar.side .item:nth-child(2n+2) {
    margin-left: 4px
}

.article-navigation-bar.side .icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    margin-left: 6px;
    vertical-align: top
}

[dir=rtl] .article-navigation-bar.side .icon {
    margin-right: 6px;
    margin-left: 8px
}

[dir=rtl] .article-navigation-bar.side .item:nth-child(2n+2) {
    margin-right: 4px
}

@keyframes usersubin {
    from {
        transform: translateY(100%)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes bounce_icon {
    0% {
        transform: translateY(0)
    }

    15% {
        transform: translateY(-8px) scaleX(.9) scaleY(1.1)
    }

    25% {
        transform: translateY(2px) scaleX(1) scaleY(.9)
    }

    35% {
        transform: translateY(0) scale(1)
    }

    40% {
        transform: translateY(-1px)
    }

    45% {
        transform: translateY(0)
    }
}