.menu_html {
    overflow-y: hidden !important
}

.menu {
    -webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -o-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -webkit-transition-timing-function: cubic-bezier(.165, .84, .44, 1);
    -moz-transition-timing-function: cubic-bezier(.165, .84, .44, 1);
    -o-transition-timing-function: cubic-bezier(.165, .84, .44, 1);
    transition-timing-function: cubic-bezier(.165, .84, .44, 1)
}

.menu {
    transition-duration: .3s;
    position: fixed;
    top: 0;
    left: -270px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10001;
    padding-bottom: 60px;
    min-width: 200px;
    width: 60%;
    max-width: 251px;
    background: #fff
}

.menu-btn {
    padding: 13px 0;
    width: 45px
}

.so .menu-btn {
    margin-top: -5px
}

.menu-group {
    padding-top: 10px
}

.menu-group li a {
    display: block
}

.menu-group li a.on {
    position: relative
}

.menu-group li a.on:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 20px;
    top: 50%;
    margin-top: -7px;
    border-top: 6px solid transparent;
    border-left: 6px solid #24cd77;
    border-bottom: 6px solid transparent
}

.menu-border {
    border-bottom: solid 1px #e0e0e0;
    padding-bottom: 10px
}

.menu-text {
    margin-left: 8px
}

.menu-icon {
    display: inline-block;
    background-size: 24px;
    height: 24px;
    width: 24px;
    margin: auto;
    position: relative;
    top: 6px
}

.menu-icon-game {
    background-position: 0 -48px
}

.menu-icon-app {
    background-position: 0 0
}

.menu-icon-search {
    background-position: 0 -144px
}

.menu-icon-pre {
    background-position: 0 -240px
}

.menu-icon-news {
    background-position: 0 -312px
}

.menu-icon-howto {
    background-position: 0 -360px
}

.menu-lang,
.menu-user {
    position: absolute;
    right: 25px
}

.menu-user {
    top: 22px
}

.menu-lang {
    top: 16px
}

.menu-lang-li {
    position: relative
}

.menu-lang-down,
.menu-user-down {
    border-top: 6px solid rgba(0, 0, 0, .54);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent
}

.menu-last {
    margin-bottom: 80px
}

.menu-hide {
    display: none
}

.menu-center {
    display: none
}

.back-btn {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center
}

@keyframes pwa-dialog-show {
    from {
        left: -360px
    }

    to {
        left: 24px
    }
}

@keyframes pwa-dialog-hide {
    from {
        left: 24px
    }

    to {
        left: -360px
    }
}

body,
button,
dd,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
p,
pre,
ul {
    margin: 0;
    padding: 0
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    color: #666;
    line-height: 18px;
    z-index: -10000;
    min-width: 1043px;
    background: #f2f5f9
}

button,
input[type=button],
input[type=file]::-webkit-file-upload-button,
input[type=reset],
input[type=submit] {
    border-radius: 0
}

a {
    color: #00a6ed;
    text-decoration: none
}

a:hover {
    color: #00b6ff
}

li {
    list-style: none
}

img {
    vertical-align: middle;
    border: 0;
    color: #ccc
}

button,
input {
    outline: 0
}

.clear {
    clear: both;
    overflow: hidden
}

.main {
    width: 1200px;
    margin: 0 auto
}

.right {
    float: right;
    width: 330px
}

.header {
    height: 70px;
    width: auto;
    background: #fdfdfd;
    border-bottom: 1px solid #e2e2e3
}

.head {
    width: 1200px;
    height: 70px;
    margin: 0 auto
}

.logo {
    float: left;
    height: 70px;
    line-height: 70px;
    font-size: 30px
}

.logo a {
    color: #575757
}

.logo a:hover {
    color: #24cd77
}

.logo a span {
    font-weight: 300
}

.logo a img {
    margin-top: -6px
}

.top-search {
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    height: 50px;
    padding: 0 10px;
    padding-top: 17px
}

@keyframes bgShakeTop {

    from,
    to {
        background-position: center 3px
    }

    25% {
        background-position: 5.5px center
    }

    50% {
        background-position: center 6px
    }

    75% {
        background-position: 2.5px center
    }
}

.top-search form {
    width: 170px;
    height: 36px;
    position: relative
}

.top-search input {
    border: 0
}

.top-search .search-right {
    position: absolute;
    width: 30px;
    height: 31px;
    right: 0;
    top: 0
}

.top-search .search-right input {
    width: 30px;
    height: 31px;
    display: block;
    background: url(/static/images/search1.png) no-repeat center center;
    cursor: pointer
}

.top-menu {
    float: right
}

.top-menu a {
    display: block;
    line-height: inherit;
    cursor: pointer;
    padding: 0 15px 0 40px;
    color: #666
}

.nav-user-img {
    border: 2px solid #fff;
    background: #fff;
    border-radius: 50%
}

.nav-user-info {
    width: 180px;
    text-align: center;
    position: relative;
    line-height: 25px;
    padding: 21px 18px 16px
}

.nav-user-info a {
    padding: 0;
    display: initial
}

.nav-user-info img {
    border-radius: 50%
}

.nav-user-name {
    margin-top: 7px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.nav-user-name a:hover {
    color: #24cd77
}

.nav_menu {
    line-height: 68px;
    height: 68px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px
}

.nav_menu .flag {
    margin-top: -3px
}

.nav_menu-item {
    display: block;
    position: relative;
    float: right;
    border-top: 2px solid #fafafa
}

.nav_menu-item.on {
    background: #f5f5f5;
    border-top: 2px solid #f5f5f5
}

.nav_menu-item:hover {
    background: #f5f5f5;
    border-top: 2px solid #24cd77
}

.nav_menu-item .nav-x {
    background: url(/static/images/xapkicon.png) 8px 24px no-repeat;
    padding-left: 47px
}

.nav_menu-item .nav-n {
    background: url(/static/images/newicon.png) 8px 20px no-repeat
}

.nav_menu-item .nav-a,
.nav_menu-item .nav-article,
.nav_menu-item .nav-g,
.nav_menu-item .nav-p,
.nav_menu-item .nav-t {
    background: url(/static/images/indexicon_v3.png) no-repeat
}

.nav_menu-item .nav-g {
    background-position: 8px -68px;
    padding-left: 46px
}

.nav_menu-item .nav-a {
    background-position: 8px 0;
    padding-left: 43px
}

.nav_menu-item .nav-t {
    background-position: 3px -203px
}

.nav_menu-item .nav-p {
    background-position: 3px -134px
}

.nav_menu-item .nav-article {
    background-position: 0 -256px
}

.nav_menu-item .nav-l {
    padding: 0 15px 0 15px
}

.nav_menu-item .nav-l img {
    margin-top: -3px
}

.menu_body {
    display: block;
    overflow: hidden;
    padding: 5px 0
}

.menu_body a {
    display: block;
    white-space: nowrap;
    background: 0 0;
    padding: 0 30px;
    height: 42px;
    line-height: 42px;
    color: #555;
    font-weight: 400
}

.menu_body a:hover {
    color: #fff;
    background-color: #24cd77
}

.menu_body a.h {
    color: #fff;
    background: #24cd77;
    margin-top: 5px;
    text-align: center
}

.nav_lang {
    width: 360px;
    direction: ltr
}

.nav_lang .menu_body ul li {
    float: left
}

.nav_lang .menu_body ul li:not(:last-child) {
    width: 50%
}

.nav_lang .menu_body ul li:last-child {
    width: 100%
}

.box {
    background: #fff;
    width: auto;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15);
    margin-bottom: 20px
}

.box .title {
    background: #fbfbfb;
    border-bottom: 1px solid #e8e8e8;
    height: 55px;
    line-height: 55px;
    color: #666;
    font-size: 18px;
    padding: 0 10px;
    font-weight: 400;
    position: relative
}

.box .title h1 {
    font-size: 18px;
    font-weight: 400;
    float: left
}

.box .title a {
    color: #666;
    text-decoration: none
}

.box .title a:hover {
    color: #00a6ed
}

.box .title .more {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 15px;
    height: 20px;
    line-height: 20px;
    text-align: right
}

.box .title .more a {
    color: #666;
    font-size: 14px
}

.box .title .more a:hover {
    color: #00a6ed
}

.top-list {
    margin: 0 auto;
    overflow: hidden
}

.top-list li {
    width: 25%;
    float: left;
    position: relative
}

.top-list li.w33 {
    width: 33.33% !important
}

.top-list li.w5 {
    width: 50% !important
}

.top-list dl {
    display: block;
    position: relative;
    height: 85px;
    padding-top: 10px;
    overflow: hidden
}

.top-list dl dt {
    float: left;
    width: 95px;
    height: 75px;
    text-align: center
}

.top-list dl dt img {
    width: 75px;
    border-radius: 15%;
    border: 1px solid #eff3f9;
    background-color: #fff;
    box-sizing: border-box
}

.top-list dl dd {
    color: #666;
    overflow: hidden;
    line-height: 22px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.top-list dl dd a {
    color: #666;
    font-size: 13px;
    display: block;
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.top-list dl dd.top a {
    font-weight: 500;
    line-height: 22px
}

.top-list dl dd.bottom {
    font-size: 12px;
    line-height: 16px
}

.top-list dl .title-dd {
    padding-right: 10px
}

.top-list dl .title-dd a {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px
}

.top-list li:hover {
    background: #f5f7fa
}

.top-list li:hover a {
    color: #00a6ed
}

.top-list li:hover .down {
    bottom: 10px;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    transition: all .1s ease
}

.top-list dl .down {
    position: absolute;
    bottom: -30px;
    left: 94px;
    z-index: 1
}

.top-list dl .down a {
    display: block;
    min-width: 100px;
    padding: 0 5px;
    color: #fff;
    text-align: center;
    height: 24px;
    line-height: 24px;
    background: #24cd77
}

.top-list dl .down a:hover {
    background: #24dc83;
    color: #fff
}

.top-list li.w5 dl dd {
    padding-right: 90px
}

.top-list-s li a {
    display: block
}

.top-list-s li .title-dd {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px
}

.top-list-s li a:hover .title-dd {
    color: #00a6ed
}

.facebook-like {
    height: 90px;
    margin-bottom: 20px;
    background: #fff;
    width: auto;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15)
}

.facebook-like .fb {
    background-position: 0 0
}

.facebook-like .fb span {
    color: #3b57a0;
    left: -13px
}

.facebook-like .vk {
    background-position: -3px -304px;
    border-radius: 50%
}

.facebook-like .vk span {
    color: #4276a5;
    left: 10px
}

.loadmore {
    display: block;
    background: #fff;
    color: #777;
    text-decoration: none;
    width: 200px;
    margin: 0 auto 20px auto;
    text-align: center;
    font-size: 16px;
    padding: 8px 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15)
}

.loadmore:hover {
    background: #f9f9f9
}

.footer {
    width: auto;
    color: #777
}

.footer-list {
    width: 100%;
    background: #fdfdfd;
    border-top: 1px solid #e2e2e3;
    border-bottom: 1px solid #e2e2e3
}

.footer-list .list {
    width: 270px;
    float: left;
    padding: 20px 15px 20px 15px
}

.footer-list .list p {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 10px;
    color: #333
}

.footer-list .list ul {
    padding-left: 16px
}

.footer-list .list ul li {
    line-height: 20px;
    list-style: disc;
    padding-bottom: 5px;
    font-size: 12px
}

.footer-list .list ul li a {
    color: #666
}

.footer-list .list ul li a:hover {
    color: #00a6ed
}

.footer .follow {
    padding-left: 3px !important
}

.footer .follow li {
    list-style: none !important
}

.footer .follow li a {
    background-image: url(/static/images/user_v3.png);
    background-size: 22px;
    width: 20px;
    height: 20px;
    display: inline-block
}

.footer .follow li a span {
    margin-left: 26px
}

.footer .follow li a.fb {
    background-position: 0 0
}

.footer .follow li a.vk {
    background-position: -1px -167px;
    border-radius: 50%
}

.copyright {
    line-height: 50px;
    text-align: center;
    background: #f2f5f9
}

.share-hide {
    display: none
}

.share-menu {
    visibility: hidden;
    opacity: 0
}

.share-counter {
    line-height: 32px;
    font-size: 11.4px;
    cursor: pointer;
    font-family: helvetica, arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    vertical-align: top;
    height: auto;
    margin: 0 5px;
    padding: 0 6px;
    left: -1px;
    background: #ebebeb;
    color: #32363b;
    transition: all .2s ease
}

.share-counter:after {
    top: 30%;
    left: -4px;
    content: "";
    position: absolute;
    border-width: 5px 8px 5px 0;
    border-style: solid;
    border-color: transparent #ebebeb transparent transparent;
    display: block;
    width: 0;
    height: 0
}

.share-side-counter {
    display: inline-block;
    width: 48px;
    text-align: center;
    overflow-wrap: break-word
}

.share-side-text {
    font-size: 9px;
    line-height: 1.25em;
    color: #222;
    letter-spacing: 1px
}

@media only screen and (max-width:1300px) {
    body {
        min-width: 1048px
    }

    .main {
        width: 1048px
    }

    .head {
        width: auto
    }

    .right {
        width: 300px
    }

    .footer-list .list {
        width: 230px
    }

    .top-search form {
        width: 110px
    }
}

.aegon-down-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 80px;
    padding: 12px 16px;
    background: #fff
}

.aegon-down-item .icon {
    display: flex;
    border-radius: 15%;
    border: 1px solid #eff3f9;
    background-color: #fff;
    box-sizing: border-box;
    overflow: hidden
}

.aegon-down-item .icon img {
    width: 56px;
    height: 56px;
    align-self: center
}

.aegon-down-item .text {
    padding: 0 12px;
    margin-right: auto
}

.aegon-down-item .aegon-down-item-btn {
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    background: #24cd77;
    border-radius: 4px;
    padding: 5px 20px;
    align-self: center;
    flex-shrink: 0
}

.share-shortcut .icon {
    background-color: #24cd77;
    background-image: url(/static/images/shortcut.svg)
}

#header {
    position: fixed;
    width: 100%;
    background-color: #24cd77;
    z-index: 999999;
    top: 0
}

#header #nav_user_img {
    border-radius: 50%
}

#header a,
#header button {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    text-decoration: none
}

#header .so {
    margin-top: 5px
}

#header .logo {
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    float: inherit;
    margin: 0
}

#header .logo .p_logo {
    display: none
}

#header .menu_btn {
    display: flex;
    width: 45px;
    height: 45px;
    border: none;
    background: 0 0;
    color: #24cd77;
    opacity: .8;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

#header .search_btn {
    display: flex;
    width: 45px;
    height: 45px;
    border: none;
    background: 0 0;
    color: #24cd77;
    opacity: .8;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: 0;
    left: auto
}

.nav_container {
    width: 100%;
    flex: 1;
    z-index: 99999
}

.nav_container .nav_new {
    transition-duration: .3s;
    transition-property: left, right;
    left: -271px;
    position: fixed;
    display: initial;
    background-color: #fff;
    top: 0;
    height: 100%;
    align-items: start;
    min-width: 200px;
    z-index: 10001
}

.nav_container .search {
    padding: 0 24px;
    display: none
}

.nav_container .search form {
    height: 36px;
    position: relative
}

.nav_container .search .search-input {
    width: 600px;
    box-sizing: border-box;
    height: 46px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: -5px;
    margin-left: -300px
}

.nav_container .search .search-input .search-btn-icon {
    position: absolute;
    left: 14px;
    top: 13px;
    width: 20px;
    height: 20px;
    background: url(/static/images/svg_icon.svg) no-repeat;
    background-position: -40px -20px;
    background-size: 200px;
    border: 0 none;
    background-color: transparent;
    outline: 0;
    cursor: pointer
}

.nav_container .search .search-input>span {
    width: 100%
}

.nav_container .search .search-input>span input {
    width: 100%;
    height: 46px;
    display: block;
    overflow: hidden;
    line-height: 46px;
    font-size: 14px;
    font-weight: 400;
    padding-left: 44px;
    border: 1px solid #eee;
    border-radius: 8px;
    box-sizing: border-box
}

.nav_container .icon {
    background: url(/static/images/svg_icon.svg) no-repeat;
    width: 24px;
    height: 24px
}

.nav_container .icon.icon_search {
    background-position: 0 -24px
}

.nav_container .icon.icon_game {
    background-position: 0 -96px
}

.nav_container .icon.icon_app {
    background-position: 0 -120px
}

.nav_container .icon.icon_article {
    background-position: 0 -144px
}

.so .search-btn {
    display: block;
    width: 40px;
    height: 35px;
    line-height: 35px;
    background-color: transparent;
    border: 0 none;
    outline: 0;
    text-align: center
}

.so .search-btn .search-btn-icon {
    display: inline-block;
    background: url(../../static/images/svg_icon.svg) no-repeat;
    width: 24px;
    height: 24px;
    background-position: 0 -24px;
    vertical-align: middle
}

.open_menu .nav_container .nav_new {
    width: 60%;
    min-width: 200px;
    max-width: 251px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff
}

.nav_new i.icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 16px;
    fill: #8b8b8b;
    background-position: -24px 0
}

.nav_new .item {
    padding-top: initial;
    padding-bottom: initial;
    line-height: 36px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff
}

.nav_new .item>a,
.nav_new .item>span {
    cursor: pointer;
    font-size: 14px;
    line-height: 26px;
    color: #4b4b4b;
    padding: 5px 12px 5px 8px;
    display: block;
    position: relative;
    padding-left: 50px
}

.nav_new .item:hover {
    background-color: #f8f9fa
}

.nav_new .item:hover>a,
.nav_new .item:hover>span {
    color: #24cd77
}

.nav_new .item:hover .icon_game {
    background-position: -24px -96px
}

.nav_new .item:hover .icon_app {
    background-position: -24px -120px
}

.nav_new .item:hover .icon_article {
    background-position: -24px -144px
}

.nav_new .item .menu_body a {
    padding: 0;
    display: block;
    white-space: nowrap;
    background: 0 0;
    font-weight: 400;
    line-height: 36px;
    height: auto;
    font-size: 14px;
    padding-left: 40px;
    color: #777
}

.nav_new .item .menu_body a:hover {
    color: #24cd77
}

.nav_new .item>a.nav-l,
.nav_new .item>span.nav-l {
    padding: 0 16px
}

.nav_new .search p {
    font-size: 14px;
    line-height: 20px;
    padding: 3px 20px;
    text-transform: none !important;
    font-weight: 400 !important;
    word-break: break-all
}

.nav_new .search .search-package .package-info {
    display: flex;
    overflow: hidden
}

.nav_new .search .clear-input {
    position: absolute;
    right: 15px;
    top: 15px;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url(/static/images/svg_icon.svg) no-repeat;
    background-position: -20px -40px;
    background-size: 200px;
    cursor: pointer;
    display: none
}

.nav_new .nav_user_new {
    display: flex;
    align-items: center
}

.nav_new .nav_user_new .nav_user_info .display_name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    line-height: 22px;
    color: #555;
    display: block
}

.nav_new .nav_user_new .nav_user_info .display_name:hover {
    color: #24cd77
}

.nav_new .nav_user_new .nav_user_info div img {
    display: none
}

.nav_new .item.many:hover {
    background-color: #fff;
    background-attachment: fixed
}

.nav_new .many.open::after {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg)
}

.nav_new .item.nav_user_new {
    border-bottom: solid 1px #e0e0e0;
    padding-bottom: 8px;
    padding: 12px 16px
}

.nav_new .item.nav_user_new>a,
.nav_new .item.nav_user_new>span {
    padding-left: 0
}

.footer_new {
    background-color: #fff;
    overflow: initial;
    width: 100% !important
}

.footer_new .footer_container {
    padding: 0 16px;
    margin: 0 auto
}

.footer_new .footer_container .other .menu_list .menu_body a {
    padding: 5px;
    height: auto;
    line-height: 26px;
    color: #777
}

.footer_new .footer_container .other .menu_list li:hover a {
    color: #24cd77;
    background-color: transparent
}

.footer_new .other {
    border-top: 1px solid #e7e7e7;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 0
}

.footer_new .other .info {
    color: #a6a6a6;
    font-size: 12px;
    line-height: 20px;
    text-align: center
}

.footer_new .other .info a {
    color: #a6a6a6;
    font-size: 12px;
    line-height: 20px;
    text-align: center
}

.footer_new .other .info a:hover {
    color: #24cd77
}

.footer_container>.info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.footer_container .info .base_info>p {
    font-size: 12px;
    line-height: 16px;
    margin: 12px 0;
    color: #a6a6a6
}

.footer_container .info .item {
    padding: 12px 0
}

.footer_container .info .item .title {
    font-weight: 500;
    font-size: 16px;
    color: #777
}

.footer_container .info .item ul li {
    margin-top: 8px
}

.footer_container .info .item ul li a {
    color: #8b8b8b;
    font-size: 13px;
    line-height: 22px
}

.footer_container .info .item ul li a:hover {
    color: #24cd77
}

.footer_container .info .item:last-child ul li:last-child {
    margin-bottom: 0
}

.footer_container .info .item>p {
    margin: 12px 0 4px;
    color: #8b8b8b;
    font-size: 13px;
    line-height: 22px
}

.footer_container .info .item.group {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 8px;
    width: 100%;
    margin-bottom: 8px
}

.footer_container .current_box {
    line-height: 28px;
    padding: 0 10px;
    color: #6f6f6f;
    position: relative;
    border: 1px solid #e7e7e7;
    display: inline-block;
    margin: 8px auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.footer_container .current_box.enable_switch .current_lang {
    cursor: pointer
}

.footer_container .current_box.enable_switch .current_lang::after {
    content: " ";
    position: absolute;
    right: -6px;
    top: 12px;
    opacity: .4;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000
}

.footer_container .current_box.enable_switch.open .current_lang {
    color: #24cd77
}

.footer_container .current_box.enable_switch.open .current_lang::before {
    background-position: -24px -240px
}

.footer_container .current_box.enable_switch.open .current_lang::after {
    border-bottom: 4px solid #000;
    border-top: 0
}

.footer_container .current_box.enable_switch.open .menu_list {
    display: block
}

.footer_container .current_lang {
    position: relative;
    color: #6f6f6f;
    padding: 0 10px 0 28px
}

.footer_container .current_lang:before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background: url(/static/images/svg_icon.svg) no-repeat;
    background-position: 0 -240px
}

.footer_container .menu_list {
    position: absolute;
    display: none;
    background: #fff;
    bottom: 40px;
    -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, .15));
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .15));
    left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 999999
}

.footer_container .menu_list::after {
    content: " ";
    position: absolute;
    bottom: -10px;
    left: 8px;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border: 16px solid transparent;
    bottom: -27px;
    left: 0 !important;
    right: 0 !important
}

.footer_container .menu_list::before {
    content: " ";
    position: absolute;
    bottom: -10px;
    left: 8px;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent
}

.footer_container .menu_list .menu_body ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 200px;
    padding: 8px 0;
    overflow-y: auto
}

.footer_container .menu_list .menu_body ul li {
    width: 100px
}

body {
    padding-top: 45px
}

input {
    outline: 0;
    border-radius: 0;
    box-shadow: 0 0;
    border: none
}

input[type=search]::-webkit-search-cancel-button {
    display: none
}

#so {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 45px;
    background: rgba(0, 0, 0, 0);
    z-index: 999999
}

.so {
    height: 35px;
    line-height: 35px;
    margin-top: 6px;
    background: #24cd77;
    width: 100%;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal
}

.so .ll {
    background: #fff;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    border-radius: 35px
}

.so .query {
    display: block;
    box-sizing: border-box;
    padding-left: 16px;
    background: rgba(255, 0, 0, 0);
    height: 35px;
    width: 100%;
    font-size: 14px
}

.so .search-package {
    position: relative;
    margin: 12px 16px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.so .search-package .package-info {
    display: flex;
    overflow: hidden
}

.so .search-package .package-info .icon {
    width: 48px;
    height: 48px;
    border-radius: 15%;
    margin-right: 12px;
    flex-shrink: 0;
    box-sizing: border-box;
    border: 1px solid #eef3fa;
    background-color: #fff
}

.so .search-package .package-info .info {
    min-width: 0
}

.so .search-package .package-info .info .info-title {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, .9);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: fit-content;
    max-width: 100%
}

.so .search-package .package-info .info .info-tags {
    margin-bottom: 4px;
    line-height: 0;
    height: 18px;
    overflow: hidden
}

.so .search-package .package-info .info .tag {
    display: inline-block;
    margin-right: 4px;
    padding: 1px 3px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 2px;
    font-size: 10px;
    line-height: 14px;
    color: rgba(0, 0, 0, .6)
}

.so .search-package .package-info .info .tag.config-tag {
    border: 1px solid #24cd77;
    border-radius: 2px;
    font-size: 10px;
    color: #24cd77
}

.so .search-package .da {
    padding: 5px 8px;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    background: #24cd77;
    border-radius: 4px;
    flex-shrink: 0
}

.search-app-result-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    background: #fbfbfc;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    margin-top: 4px
}

.search-app-result-header .search-app-tab {
    padding: 12px 0;
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #a6a6a6;
    margin-left: 24px;
    cursor: pointer
}

.search-app-result-header .search-app-tab:first-child {
    margin-left: 0
}

.search-app-result-header .search-app-tab.active {
    color: #24cd77;
    font-weight: 500;
    border-bottom: 2px solid #24cd77
}

.search-app-result-header .search-app-order {
    position: relative;
    line-height: 42px;
    cursor: pointer;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #a6a6a6;
    white-space: nowrap;
    display: flex;
    align-items: center;
    top: 0
}

.search-app-result-header .search-app-order .search-app-order-btn {
    margin-right: 4px
}

.search-app-result-header .search-app-order svg {
    position: relative;
    top: 2px;
    transform: rotate(90deg)
}

.search-app-result-header .search-app-order-options {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 40px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    z-index: 2
}

.search-app-result-header .search-app-order-options .search-app-order-option {
    width: 76px;
    padding: 8px 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #a6a6a6
}

.search-app-result-header .search-app-order-options .search-app-order-option:hover {
    color: #00a6ed;
    background: rgba(0, 166, 237, .1)
}

.body-app .search-results {
    padding-bottom: 0
}

.search-result-article-list .article-list-item {
    display: flex;
    padding: 0 16px;
    margin: 12px 0
}

.search-result-article-list .article-list-item:first-child {
    margin-top: 0
}

.search-result-article-list .article-list-item:hover .info .title {
    color: #00b6ff
}

.search-result-article-list .article-list-item .article-image-link {
    width: 176px;
    height: 99px
}

.search-result-article-list .article-list-item .article-image-link img {
    border-radius: 4px;
    width: 100%;
    height: 100%
}

.search-result-article-list .article-list-item .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
    align-items: flex-start
}

.search-result-article-list .article-list-item .type {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px
}

.search-result-article-list .article-list-item .type-news {
    color: #fa8b16
}

.search-result-article-list .article-list-item .type-howto {
    color: #24cd77
}

.search-result-article-list .article-list-item .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4b4b4b;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: auto;
    padding: 0;
    border: none;
    background-color: unset
}

.search-result-article-list .article-list-item .desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #777;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.more.showmore-container {
    padding-top: 0
}

.showmore-container {
    margin: 0;
    padding-bottom: 12px;
    text-align: center
}

.article-list+.showmore-container {
    padding-top: 4px
}

.showmore {
    margin: 0;
    display: inline-block;
    width: 100%;
    max-width: 360px;
    height: 36px;
    background: rgba(36, 205, 119, .1);
    padding: 0;
    border-radius: 4px;
    font-size: 12px;
    line-height: 36px;
    color: #24cd77;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    box-shadow: none
}

.showmore:hover {
    color: #fff;
    background-color: #24cd77
}

.list-title.list-title-article {
    background-color: unset
}

@media (max-width:720px) {
    .search-app-result-header {
        padding: 0 16px;
        border-bottom: 1px solid #eee
    }

    .showmore {
        max-width: 360px;
        width: 90%
    }

    .search-result-article-list .article-list-item .article-image-link {
        width: 128px;
        height: 72px
    }

    .search-result-article-list .article-list-item .info {
        justify-content: space-around;
        margin-left: 12px
    }

    .search-result-article-list .article-list-item .info .title {
        -webkit-line-clamp: 2;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #4b4b4b;
        padding: 8px 0 0
    }

    .search-result-article-list .article-list-item .info .desc {
        display: none
    }

    .list-title.lighter.sa-articles-div {
        padding-bottom: 4px
    }
}

.list {
    overflow: hidden;
    background: #fff;
    margin-bottom: 10px
}

.list li {
    padding: 0 15px
}

.list dl {
    overflow: hidden;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal
}

.list dt {
    margin: 5px;
    width: 70px
}

.list li:last-child dl {
    border-bottom: 0
}

.list dt img {
    width: 70px;
    height: 70px
}

.list .dd {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    width: 100%;
    background: #fff;
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal
}

.list .dd p {
    color: #777;
    font-size: 1.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 11px;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-line-clamp: 1;
    -moz-line-clamp: 1;
    -line-clamp: 1;
    -webkit-box-orient: vertical
}

.list .l {
    width: 95px;
    height: 90px
}

.list .l img {
    width: 80px;
    height: 80px;
    margin-top: 5px
}

.list .r {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    padding-top: 1px
}

.list .dd .p1 {
    color: #555;
    font-size: 1.4rem
}

.list .dd .p1 a {
    color: #6295ea
}

.list .dd .p2 a {
    color: #666
}

.list .dd .p3 {
    font-size: 1.1rem
}

.list .d {
    width: 45px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: -o-box;
    -o-box-orient: horizontal;
    -o-box-pack: center;
    -o-box-align: center;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center
}

.list .d a {
    width: 45px;
    height: 80px;
    display: block;
    background: url(/static/images/down.png) no-repeat center;
    background-size: 35px
}

.list .d a:active,
.list .d a:hover {
    background-color: #f5f6f7
}

.list-banner {
    max-width: 640px;
    margin: 0 auto
}

.list-title>h1 {
    text-decoration: none;
    display: inline-block;
    color: #555;
    font-size: 1.4rem;
    font-weight: 400
}

.list-title-new {
    margin: 0;
    border-bottom: 1px solid #eee;
    padding: 10px 15px;
    background-color: #fff
}

.list-title-new>span {
    float: right
}

@keyframes bgShakeSearch {

    from,
    to {
        background-position: center 5px
    }

    25% {
        background-position: 37px center
    }

    50% {
        background-position: center 9px
    }

    75% {
        background-position: 33px center
    }
}

.search-results {
    background: #fff;
    padding: 16px 0;
    box-sizing: border-box
}

.search-results input {
    border: 0
}

.search-results .search-bg {
    background: #eee;
    margin: 0 16px;
    height: 44px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.search-results .search-bg .formsearch {
    display: flex
}

.search-results .text-box {
    float: left;
    margin-top: 2px;
    padding-left: 1px;
    flex: 1
}

.search-results .text-box>span:first-child {
    width: 100%
}

.search-results .text-box input {
    width: 100%;
    height: 41px;
    background: #fff;
    padding: 0 15px;
    font-size: 14px;
    line-height: 41px;
    color: #666;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    box-sizing: border-box
}

.search-results .text-btn {
    width: 100px;
    float: left
}

.search-results .text-btn input {
    width: 100px;
    height: 44px;
    background: #24cd77 url(/static/images/search.png) center no-repeat;
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px
}

.search-results .text-btn input:hover {
    background: #24dc83 url(/static/images/search.png) center no-repeat
}

.search-results .search-package {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.search-results .search-package {
    padding: 6px 12px
}

.search-results .search-package .package-info {
    display: flex;
    overflow: hidden
}

.search-results .search-package .package-info .icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    margin-right: 12px;
    border-radius: 15%;
    border: 1px solid #eff3f9;
    background-color: #fff
}

.search-results .search-package .package-info .info {
    min-width: 0;
    display: flex;
    flex-direction: column;
    padding: 2px;
    justify-content: space-between
}

.search-results .search-package .package-info .info .info-title {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: #5e5e5e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.search-results .search-package .package-info .info .info-tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
    font-size: 0;
    height: 16px;
    overflow: hidden
}

.search-results .search-package .package-info .info .tag {
    margin-right: 4px;
    font-size: 12px;
    line-height: 16px;
    padding: 0 4px;
    color: rgba(0, 0, 0, .6);
    background: rgba(0, 0, 0, .05);
    border-radius: 2px
}

.search-results .search-package .package-info .info .tag.config-tag {
    color: #24cd77;
    background: rgba(36, 205, 119, .1)
}

.search-results .search-package .da {
    flex-shrink: 0;
    font-size: 12px;
    line-height: 24px;
    padding: 0 8px;
    color: #fff;
    background: #24cd77;
    border-radius: 4px
}

.search-results .search-package .da * {
    color: #fff;
    font-weight: 400
}

@media (max-width:992px) {

    .search-app .search-results,
    .search-mobile .search-results,
    .search-pc .search-results {
        display: none
    }
}

.search-mobile {
    padding-top: 45px
}

.search-result-page {
    margin-top: 4px
}

.show-top-stroke {
    box-sizing: border-box;
    border-top: 1px solid #f3f3f3
}

.search-results,
.search-results.mb {
    margin: 0
}

.list {
    background-color: #fff;
    padding: 12px 0
}

body {
    min-width: auto
}

.mb {
    margin-bottom: 4px
}

.search-app .search-pre-li .r .p1,
.search-app .search-pre-li .r .p2 {
    line-height: normal
}

.search-app .search-pre-li .r .p2 {
    display: none
}

.search-app .search-pre-li .r .date {
    line-height: 16px
}

.search-app .search-pre-li .dd p {
    margin-top: 0;
    font-size: 12px
}

.search-app .search-pre-li .b .button {
    display: flex;
    align-items: center
}

.search-app .search-pre-li .b .button img {
    margin-right: 5px
}

.search-app .list {
    margin-bottom: 4px;
    padding: 0
}

.search-app .list li {
    padding: 0 16px;
    margin: 12px 0
}

.search-app .list dl {
    border: none;
    padding: 0;
    overflow: unset
}

.search-app .list .l {
    width: 64px;
    height: 64px;
    margin-right: 12px
}

.search-app .list .l img {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 15%;
    border: 1px solid #eff3f9;
    background-color: #fff;
    box-sizing: border-box
}

.search-app .list .r {
    margin-top: 0;
    line-height: 0
}

.search-app .list .r .p1 {
    margin-top: 0;
    font-size: 14px;
    line-height: 20px;
    color: #4b4b4b;
    display: inline-block;
    white-space: nowrap;
    width: fit-content;
    max-width: 100%
}

.search-app .list .r .p2 {
    margin-top: 2px;
    font-size: 12px;
    line-height: 16px;
    color: #8b8b8b
}

.search-app .list .b {
    display: flex;
    align-items: center;
    margin-left: 8px;
    height: 64px
}

.search-app .list .b .button {
    padding: 6px 12px;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    background: #24cd77;
    border-radius: 4px
}

.search-app .list .b .button:hover {
    background-color: #24dc83
}

.search-app .list .dd:hover .r .p1 {
    color: #00b6ff
}

.app-list .tag,
.first .tag {
    box-sizing: border-box;
    height: 20px;
    display: inline-block;
    margin-right: 4px;
    padding: 2px 4px;
    border: 1px solid #f3f3f3;
    border-radius: 2px;
    font-size: 10px;
    line-height: 14px;
    color: #777
}

.app-list .tag.config-tag,
.first .tag.config-tag {
    border: 1px solid #24cd77;
    border-radius: 2px;
    font-size: 10px;
    color: #24cd77
}

.app-list .first-tags,
.app-list .tags {
    margin-top: 4px;
    line-height: 0;
    height: 20px;
    overflow: hidden
}

.app-list .first-tags a.tag:hover,
.app-list .tags a.tag:hover {
    background: #24dc83;
    color: #fff
}

.list-title {
    height: 44px;
    background-color: #fff;
    padding: 0 16px;
    font-size: 13px;
    line-height: 44px;
    color: #8b8b8b;
    margin: 0
}

.list-title.list-title-article {
    background-color: #fff
}

.list-title span {
    color: #8b8b8b
}

.first.first-apk {
    display: flex;
    align-items: center;
    position: relative
}

.first.first-apk {
    padding: 0 16px 12px;
    background-color: #fff
}

.first.first-apk .first-info {
    display: flex;
    flex: 1
}

.first.first-apk .first-info .first-info-img {
    box-sizing: border-box;
    border: 1px solid #eff3f9;
    border-radius: 15%
}

.first.first-apk .info {
    flex: 1;
    width: 0
}

.first.first-apk .info .p1 {
    margin-top: 0;
    font-size: 14px;
    line-height: 20px;
    color: #4b4b4b;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%
}

.first.first-apk .info .p2 {
    margin-top: 2px;
    font-size: 12px;
    line-height: 18px;
    color: #5e5e5e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.first.first-apk .da {
    display: flex;
    align-items: center
}

.first.first-apk .da .button {
    padding: 6px 12px;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    background: #24cd77;
    border-radius: 4px
}

.first.first-apk .da .button:hover {
    background-color: #24dc83
}

.right_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

#slide-box {
    position: relative;
    margin-top: 16px;
    width: 100%;
    height: 255px;
    direction: ltr;
    display: none
}

#slide-box ul {
    position: absolute;
    list-style: none
}

#slide-box #next {
    background-position: left 0;
    right: 0;
    top: 145px
}

#slide-box #next:hover {
    background-position: left -124px
}

#slide-box li {
    white-space: nowrap
}

#slide-box li a {
    text-decoration: none;
    white-space: nowrap;
    padding-right: 5px
}

#slide-box li a img {
    background: #f1f1f1
}

.search-result-page .search-results {
    background: #fbfbfc;
    margin-bottom: 4px
}

:root {
    --font-weight: 500
}

html[lang=ar],
html[lang=ja],
html[lang=th-TH],
html[lang=ur] {
    --font-weight: bold
}