@keyframes pwa-dialog-show {
    from {
        left: -360px
    }

    to {
        left: 24px
    }
}

@keyframes pwa-dialog-hide {
    from {
        left: 24px
    }

    to {
        left: -360px
    }
}

body,
button,
dl,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
    margin: 0;
    padding: 0
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    color: #666;
    line-height: 18px;
    z-index: -10000;
    min-width: 1043px;
    background: #f2f5f9
}

button {
    border-radius: 0
}

a {
    color: #00a6ed;
    text-decoration: none
}

a:hover {
    color: #00b6ff
}

li {
    list-style: none
}

img {
    vertical-align: middle;
    border: 0;
    color: #ccc
}

button {
    outline: 0
}

.main {
    width: 1200px;
    margin: 0 auto
}

.left {
    float: left;
    width: 850px
}

.right {
    float: right;
    width: 330px
}

@keyframes bgShakeTop {

    from,
    to {
        background-position: center 3px
    }

    25% {
        background-position: 5.5px center
    }

    50% {
        background-position: center 6px
    }

    75% {
        background-position: 2.5px center
    }
}

.box {
    background: #fff;
    width: auto;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15);
    margin-bottom: 20px
}

.box .title {
    background: #fbfbfb;
    border-bottom: 1px solid #e8e8e8;
    height: 55px;
    line-height: 55px;
    color: #666;
    font-size: 18px;
    padding: 0 10px;
    font-weight: 400;
    position: relative
}

.box .title h1 {
    font-size: 18px;
    font-weight: 400;
    float: left
}

.box .title a {
    color: #666;
    text-decoration: none
}

.box .title a:hover {
    color: #00a6ed
}

.box .title .more {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 15px;
    height: 20px;
    line-height: 20px;
    text-align: right
}

.box .title .more a {
    color: #666;
    font-size: 14px
}

.box .title .more a:hover {
    color: #00a6ed
}

.box .title .tit {
    font-size: 15px;
    line-height: 20px;
    height: 55px;
    padding-right: 45px;
    vertical-align: middle;
    display: table-cell
}

.top-list {
    margin: 0 auto;
    overflow: hidden
}

.top-list li {
    width: 25%;
    float: left;
    position: relative
}

.top-list dl {
    display: block;
    position: relative;
    height: 85px;
    padding-top: 10px;
    overflow: hidden
}

.top-list dl dt {
    float: left;
    width: 95px;
    height: 75px;
    text-align: center
}

.top-list dl dt img {
    width: 75px;
    border-radius: 15%;
    border: 1px solid #eff3f9;
    background-color: #fff;
    box-sizing: border-box
}

.top-list li:hover {
    background: #f5f7fa
}

.top-list li:hover a {
    color: #00a6ed
}

.top-list li:hover .down {
    bottom: 10px;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    transition: all .1s ease
}

.top-list dl .down {
    position: absolute;
    bottom: -30px;
    left: 94px;
    z-index: 1
}

.top-list dl .down a {
    display: block;
    min-width: 100px;
    padding: 0 5px;
    color: #fff;
    text-align: center;
    height: 24px;
    line-height: 24px;
    background: #24cd77
}

.top-list dl .down a:hover {
    background: #24dc83;
    color: #fff
}

.top-list-s li a {
    display: block
}

.stars {
    background: url(/static/images/stars_fill.svg) repeat-x;
    height: 15px;
    width: 75px;
    clear: both;
    direction: ltr;
    position: relative
}

.stars span.star {
    position: absolute;
    left: 78px;
    line-height: 15px;
    top: 1px;
    color: #fa8b16;
    font-size: 13px
}

.stars-box>i {
    background: url(/static/images/stars.svg) no-repeat left center;
    display: inline-block;
    height: 12px;
    background-size: 12px;
    width: 12px;
    top: 1px;
    position: relative
}

.stars-box>i.n-stars {
    background-image: url(/static/images/stars_fill.svg)
}

.stars-box>.star {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #eb903a
}

@media only screen and (max-width:1300px) {
    body {
        min-width: 1048px
    }

    .main {
        width: 1048px
    }

    .left {
        width: 728px
    }

    .right {
        width: 300px
    }
}

.aegon-down-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 80px;
    padding: 12px 16px;
    background: #fff
}

.aegon-down-item a.dl-ref {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center
}

.aegon-down-item .icon {
    display: flex;
    border-radius: 15%;
    border: 1px solid #eff3f9;
    background-color: #fff;
    box-sizing: border-box;
    overflow: hidden
}

.aegon-down-item .icon img {
    width: 56px;
    height: 56px;
    align-self: center
}

.aegon-down-item .text {
    padding: 0 12px;
    margin-right: auto
}

.aegon-down-item .tit {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

.aegon-down-item .des {
    margin-top: 4px;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, .4);
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.aegon-down-item .aegon-down-item-btn {
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    background: #24cd77;
    border-radius: 4px;
    padding: 5px 20px;
    align-self: center;
    flex-shrink: 0
}

.aegon-down-item a.dl-ref+a {
    flex-shrink: 0
}

body {
    padding-top: 45px
}

.title-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 26px 0 16px;
    word-break: break-all;
    gap: 4px;
    min-height: 44px;
    color: #3c4043
}

.title-bar h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px
}

.title-bar::after {
    content: " ";
    position: absolute;
    display: inline-block;
    align-self: center;
    width: 6px;
    height: 6px;
    border: 2px solid #868686;
    border-right: 0;
    border-bottom: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    flex-shrink: 0;
    right: 16px
}

.title-bar .icon {
    width: 6px;
    height: 6px;
    border: 2px solid #868686;
    border-right: 0;
    border-bottom: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

.stars-box::before {
    content: " ";
    background: url(/static/images/stars.svg) no-repeat left center;
    display: inline-block;
    height: 12px;
    background-size: 12px;
    width: 12px;
    position: relative;
    top: 1px
}

.stars-box.n-stars::before {
    background-image: url(/static/images/stars_fill.svg)
}

.apk-list-with .scroll-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 16px 12px;
    overflow-x: auto
}

.apk-list-with .scroll-box .apk {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 80px;
    height: 142px
}

.apk-list-with .scroll-box .apk img {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border: 1px solid #eff3f9;
    border-radius: 15%
}

.apk-list-with .scroll-box .apk .content {
    margin-top: 4px
}

.apk-list-with .scroll-box .apk .content .title {
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: #4b4b4b;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 44px;
    word-break: break-all
}

.apk-list-with .scroll-box .apk:hover .content .title {
    color: #00a6ed
}

.apk-list-with .scroll-box .apk+.apk {
    margin-left: 8px
}

.scroll-box {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none
}

.apk-list-with .scroll-box::-webkit-scrollbar {
    display: none
}

.aegon-down-item {
    height: auto;
    margin: 4px 0;
    padding: 10px 16px;
    background-color: #fff;
    display: flex;
    justify-content: start;
    align-items: center
}

.aegon-down-item .icon {
    display: flex;
    border: 0;
    background-color: #fff;
    box-sizing: border-box;
    overflow: hidden;
    box-sizing: border-box;
    flex-shrink: 0
}

.aegon-down-item .icon img {
    width: 40px;
    height: 40px
}

.aegon-down-item .text {
    padding: 0 12px;
    flex: 1
}

.aegon-down-item .text .des {
    font-size: 12px;
    line-height: 16px;
    color: #8b8b8b;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.aegon-down-item .text .tit {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #3c4043;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

.aegon-down-item .btn {
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    background: #24cd77;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 6px 8px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

body {
    min-width: auto
}

.title-bar {
    line-height: 24px;
    position: relative
}

.title-bar h3 {
    color: #3c4043;
    font-size: 16px;
    font-weight: 500
}

.list_box {
    background-color: #fff;
    margin: 4px 0
}

.versions-main {
    padding-top: 45px
}

.details-title {
    line-height: 22px;
    font-size: 13px;
    padding: 8px 16px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    display: flex
}

.details-title a,
.details-title span {
    font-size: 13px;
    margin-right: 16px;
    position: relative;
    display: inline-block
}

.details-title a {
    color: #5e5e5e
}

.details-title a:hover {
    color: #24cd77
}

.details-title span {
    color: #24cd77
}

.details-title a::after,
.details-title span::after {
    content: " ";
    display: inline-block;
    width: 4px;
    height: 4px;
    position: absolute;
    right: -10px;
    top: 8px;
    border: 1px solid;
    border-color: #c5c5c5 #c5c5c5 transparent transparent;
    transform: rotateZ(45deg)
}

.details-title span::after {
    right: initial;
    left: -12px
}

.details-title .app_name_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom
}

.ver_item_hidden {
    display: none
}

.ver-top {
    background-color: #fff;
    padding: 12px 16px
}

.ver-top .ver-left-box {
    display: flex;
    min-width: 0
}

.ver-top .ver-top-l {
    margin-right: 12px
}

.ver-top .ver-top-l img {
    width: 80px;
    height: 80px;
    border-radius: 15%;
    border: 1px solid #eff3f9;
    background-color: #fff;
    box-sizing: border-box
}

.ver-top .ver-top-r {
    flex: 1;
    min-width: 0;
    overflow: hidden
}

.ver-top .ver-top-r .ver_title {
    max-width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #3c4043
}

.ver-top .ver-top-r .ver_title:hover {
    color: #00a6ed
}

.ver-top .ver-top-r .ver_title:hover h1 {
    color: #00a6ed
}

.ver-top .ver-top-r h1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3c4043;
    display: inline
}

.ver-top .ver-top-r .ver_dev {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.ver-top .ver-top-r .ver_dev,
.ver-top .ver-top-r .ver_dev a {
    font-size: 13px;
    line-height: 22px;
    color: #5e5e5e;
    margin: 4px 0
}

.ver-top .ver-top-r .ver_dev a:hover,
.ver-top .ver-top-r .ver_dev:hover {
    color: #00a6ed
}

.ver-top .ver-top-r .ver-des {
    font-size: 13px;
    line-height: 18px;
    color: #8b8b8b;
    max-height: 36px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical
}

.ver-top .ver-top-down {
    margin-top: 12px;
    text-align: center;
    background: #24cd77;
    border-radius: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.ver-top .ver-top-down a {
    display: inline-block;
    padding: 10px 12px;
    width: 100%;
    box-sizing: border-box
}

.ver-top .ver-top-down a:hover {
    background-color: #24dc83
}

.ver-top .ver-top-down span {
    position: relative;
    padding-left: 32px
}

.ver-top .ver-top-down span i {
    background: url(/static/images/details_new_icon.svg) no-repeat 0 -52px;
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 3px
}

.ver-top .ver-top-down a {
    font-size: 14px;
    line-height: 18px;
    color: #fff
}

.discover,
.list-wrap {
    margin: 4px 0
}

.ver_content_box {
    background-color: #fff;
    padding-bottom: 12px;
    margin: 4px 0
}

.ver_content_box .ver-title {
    padding: 10px 16px;
    padding-bottom: 0
}

.ver_content_box .ver-title h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3c4043
}

.ver_content_box .ver-wrap {
    padding: 0 16px
}

.ver_content_box .ver-wrap li {
    border-bottom: 1px solid #f0f2f4
}

.ver_content_box .ver-wrap li:last-child {
    border-bottom: none
}

.ver_content_box .ver-wrap .ver-info {
    display: none
}

.ver_content_box .ver-wrap .ver_download_link {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.ver_content_box .ver-wrap .ver_download_link:hover .ver-item-n {
    color: #00a6ed
}

.ver_content_box .ver-wrap .ver-item {
    padding: 10px 0;
    flex: 1;
    overflow: hidden
}

.ver_content_box .ver-wrap .ver-item .ver-item-n {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #3c4043;
    color: #4b4b4b;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
    word-break: break-all
}

.ver_content_box .ver-wrap .ver-item .ver-item-type {
    margin: 8px 0
}

.ver_content_box .ver-wrap .ver-item .ver-item-type .ver-apk {
    border: 1px solid #24cd77;
    color: #24cd77
}

.ver_content_box .ver-wrap .ver-item .ver-item-type .ver-xapk {
    border: 1px solid #00a6ed;
    color: #00a6ed
}

.ver_content_box .ver-wrap .ver-item .ver-item-info {
    margin-top: 8px;
    font-size: 12px;
    line-height: 16px;
    color: #5e5e5e
}

.ver_content_box .ver-wrap .ver-item .ver-item-info .ver-item-s {
    margin-right: 8px
}

.ver_content_box .ver-wrap .ver_download_btn {
    padding: 6px 8px;
    height: 28px;
    box-sizing: border-box;
    background-color: #24cd77;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    margin-left: 8px
}

.ver_content_box .ver-wrap .ver_download_btn span {
    display: inline-flex;
    position: relative
}

.ver_content_box .ver-wrap .ver_download_btn .icon-download::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(/static/images/icon-download.svg) no-repeat center;
    margin: -1px 4px 0 0
}

.ver_content_box .ver-wrap .ver_download_btn:hover {
    background-color: #24dc83
}

.ver_content_box .ver_show_more {
    margin-top: 12px;
    border: 1px solid #24cd77;
    border-radius: 4px;
    font-size: 13px;
    line-height: 40px;
    text-align: center;
    color: #24cd77;
    cursor: pointer
}

.ver_content_box .ver_show_more:hover {
    color: #fff;
    background-color: #24cd77
}

.day_list_number {
    display: none
}

body {
    padding-top: 0
}

.hot_list .scroll-box .apk {
    position: relative
}

.hot_list .scroll-box .apk .day_list_number {
    width: 14px;
    height: 14px;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
    color: #5e5e5e;
    border-radius: 2px;
    background-color: #e7e7e7
}

.hot_list .scroll-box .apk:nth-child(1) .day_list_number {
    background-color: #f3251b
}

.hot_list .scroll-box .apk:nth-child(1) .day_list_number::after,
.hot_list .scroll-box .apk:nth-child(1) .day_list_number::before {
    border-color: #f3251b transparent
}

.hot_list .scroll-box .apk:nth-child(2) .day_list_number {
    background-color: #f77e13
}

.hot_list .scroll-box .apk:nth-child(2) .day_list_number::after,
.hot_list .scroll-box .apk:nth-child(2) .day_list_number::before {
    border-color: #f77e13 transparent
}

.hot_list .scroll-box .apk:nth-child(3) .day_list_number {
    background-color: #efab19
}

.hot_list .scroll-box .apk:nth-child(3) .day_list_number::after,
.hot_list .scroll-box .apk:nth-child(3) .day_list_number::before {
    border-color: #efab19 transparent
}

.hot_list .scroll-box .apk:nth-child(1) .day_list_number,
.hot_list .scroll-box .apk:nth-child(2) .day_list_number,
.hot_list .scroll-box .apk:nth-child(3) .day_list_number {
    color: #fff;
    border-radius: 2px 2px 0 0;
    display: block
}

.hot_list .scroll-box .apk:nth-child(1) .day_list_number::after,
.hot_list .scroll-box .apk:nth-child(1) .day_list_number::before,
.hot_list .scroll-box .apk:nth-child(2) .day_list_number::after,
.hot_list .scroll-box .apk:nth-child(2) .day_list_number::before,
.hot_list .scroll-box .apk:nth-child(3) .day_list_number::after,
.hot_list .scroll-box .apk:nth-child(3) .day_list_number::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    border-width: 0 7px 3px 0;
    border-style: solid;
    bottom: -3px;
    transform: rotate(-180deg)
}

.hot_list .scroll-box .apk:nth-child(1) .day_list_number:after,
.hot_list .scroll-box .apk:nth-child(2) .day_list_number:after,
.hot_list .scroll-box .apk:nth-child(3) .day_list_number:after {
    right: 0
}

.hot_list .scroll-box .apk:nth-child(1) .day_list_number::before,
.hot_list .scroll-box .apk:nth-child(2) .day_list_number::before,
.hot_list .scroll-box .apk:nth-child(3) .day_list_number::before {
    border-width: 0 0 3px 7px;
    left: 0
}

@media (max-width:996px) {
    .hot_list .scroll-box .apk .day_list_number {
        position: absolute;
        top: 0;
        left: 12px
    }
}

@keyframes usersubin {
    from {
        transform: translateY(100%)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes bounce_icon {
    0% {
        transform: translateY(0)
    }

    15% {
        transform: translateY(-8px) scaleX(.9) scaleY(1.1)
    }

    25% {
        transform: translateY(2px) scaleX(1) scaleY(.9)
    }

    35% {
        transform: translateY(0) scale(1)
    }

    40% {
        transform: translateY(-1px)
    }

    45% {
        transform: translateY(0)
    }
}